.catelist{
    display: inline-block;
    text-align: center;
    list-style:none;
    height: 12rem;
    margin:0;
    padding:0;
}
.cateitem{
    text-align: center;
    margin:1rem;
    margin-top:2rem;
    float:left;
}
.catebar{
    text-align: center;
    height: 15rem;
    margin:2rem;
    padding:2rem;
    text-align: center;
}
.cateicon{
    padding:0.3rem;
}
.icon{
    width:50px;
}
