ul{
    list-style:none;
    padding-left:0
}
th{
    color:gray;
}
.lighter{
    font-weight:lighter;
    font-size:10pt;
}

.cate-select{
    display:inline-block;
    padding:2rem;
    padding-left:8.6rem;
}
.post-body{
    padding:3rem;
    padding-top:0;
}
.community-nav-link:hover,.community_nav-link:active{
    color:#918FB7 !important;
}