ul{
    list-style:none;
    padding-left:0
}

th{
    color:gray;
    background-color:#f0f1fc;
}
.upper_box{
    border: #C6D2D3 0.05px solid;
    padding:1% 1.5% 2% 2% ;
    margin-bottom:10%;
}
.lighter{
    font-size:10pt;
}

.community-nav-link,.community_nav-link:visited{
    color:gray !important;
}
.community-nav-link:hover,.community_nav-link:active{
    color:black !important;
}
.community_search_bar{
    margin-top:2rem;
    margin-bottom:3rem;
}
.community_search_icon{
    color:#918FB7;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #F0F1F9;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: gray;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.btn_sidebar{
    display:none;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}
.step-title {
    color: #888;
    font-size: 30px;
    float: right;
    padding-right: 20px;
}

/*create post*/
.upperbar{
    margin-right: 400px;
    padding-bottom: 60px;
    border-bottom: 2px solid #4ECAC6;
    width: 820px;
    height: 50px;
    margin-bottom: 40px;
    position: relative;
    left: 13%;
}

.select_cate{
    font-weight: bold;
    padding-right: 40;
}
.select_cb{
    display:inline-block;
    padding:2rem;
    padding-left:8.6rem;
}
.post_body{
    padding:3rem;
    padding-top:0;
}
.title_form{
    width:835px;
    position:relative;
    left:8.9%;
    margin:0;
}

@media (max-width: 600px){

    h4{
        font-size:12pt;
        margin:0;
    }
    .post_list{
        padding:0;
    }
    .side_bar{
        display:none;
    }
    .upper_box{
       display:none;
    }
    th{
        display:none;
    }
    .col1{
        display:none;
    }
    .col2{
        width:280px;
        word-break:break-all
        font-size:14px;
        padding:0;
    }
    .col3{
        font-size:14px;
        padding:0;
    }
    .col4{
        display:none;
    }
    .col5{
        display:none;
    }
    .col6{
        display:none;
    }
    .btn-primary{
        width:60px;
        font-size:13px;
    }
    .search_criteria{
        padding-bottom:10px;
    }
    .select_b{
        display:inline-block;
        width:120px;
    }
    .select_c{
        display:inline-block;
        width:120px;
        margin-right:0 !important;
    }
    .search_k{
        width:198.1px !important;
    }
    #main{
        padding:2px;
    }
    .web_sidebar{
        display:none;
    }
   .btn_sidebar{
        display:inline-block;
    }
    .sidenav {padding-top: 50px;}
    .sidenav a {font-size: 17px;}

    /* create post*/
    .upperbar{

        width:100%;
        padding:0;
        position: relative;
        left: 0;
    }
    .step-title{
        font-size: 20px;
    }
    .select_cb{
        display:inline-block;
        padding:0;
        margin:10px 0 10px 5px;
    }
    .select_cate{
        font-weight: bold;
        padding:0;
        font-size:13px;
    }
    #create_post_container{
        padding:0;
    }
    .post_body{
        padding:0;
    }
    .title_form{
        width:100%;
        position:relative;
        left:0;
        margin:0;
    }
    .text_form{
        width:100%;
        position:relative;
        left:0;
        margin:0;
    }

}