.intro_create{
background: linear-gradient(to right, #bdaceb, #4ECAC6);
height:525px;
width:700px;
color:white;
text-align:center;
float:left;
}
.middle-one{
height:525px;
width:700px;
}
.intro_create_img{
float:left;
}

.intro_body{
position:relative;
left:130px;
}

.intro_button{
height:80px;
width:300px;
border: 2px solid white;
padding:25 35px;
position:relative;
top:80px;
border-radius : 10px;
font-size:25px;
color:white;
}

.intro_button:hover{
text-decoration:none;
color:white;
}

.intro_title{
padding-top:90px;
padding-bottom:40px;
font-size:35px;
font-weight:bold;
}

.intro_content{
font-size:18px;
}