.select-box{
    margin-bottom:2rem;
}
.filter-item{
    padding:1rem;
}
.filter-name{
    display: inline-block;
    width:128px;
}
.apply{
    display:block;
    text-align:right;
    position: relative;
    right: 11rem;
}
#errmsg
{
color: green;
}
.price_search_input{
    width:120px;
}