{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/createclass.css' %}">
<section>
		<div id="main">
                <div class="container">
                <div class="row">
				<div class="col-sm-3">
                    <br><br><br>
					<div class="left-sidebar">
                        <ul class="steptabs" style="padding:0px;">
                            <li>1단계 > 클래스 기본정보</li>
                        <ul>
                            <li>클래스 정보</li>
                            <li>커버이미지</li>
                        </ul>
                            <li>2단계 > 클래스 소개</li>
                        <ul>
                            <li>클래스 소개하기</li>
                        </ul>
                            <li>3단계 > 크리에이터 소개</li>
                        <ul>
                            <li>크리에이터 소개하기</li>
                        </ul>
                            <li style="    border: 0px;
    color: #333333;
    cursor: default;
    block:none;
    font-weight:bold;">4단계 > 크리에이터 정보</li>
                            <ul>
                                <li>자격증 추가</li>
                                <li>학력 인증</li>
                            </ul>
                            <li>5단계 > 일정 추가</li>
                        </ul>

					</div>
				</div>
				<div class="col-sm-9">
					<div class="blog-post-area">
                        <div class="tab-content">

                        <div>
                                                        <div class="upperbar">

                                <div class="step-num">4단계</div>
                                <div class="step-title">크리에이터 정보</div>
                            </div>
 <div class="form_description">필수 항목이 아니므로 다음 단계로 넘어갈 수 있습니다. 자격증과 학력은 하나씩 분리하여 기입해 주세요.</div>
<form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

                <div class="date_form">
                    <div class="form_title class_form">관련 자격증 추가</div> {{ form1.name }}<input class="date-button btn btn-primary btn-tutor" type="submit" value="등록">
                </div>

            <br><br>
            <div>

                 {% for date in class_detail.certi_class.all %}
            <div>
                {{ date.name }}
                <a class="btn btn-secondary" href="{% url 'certi_remove' pk=date.pk %}"><i class="fas fa-trash-alt"></i></a>
            </div>
        <div>
        <hr class="hr_width2">
    {% empty %}
        <p></p>
    {% endfor %}
            </div>
        </form>
<div class="empty_block"></div>
                  <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

                <div class="date_form">
                    <div class="form_title class_form">강사 학력 정보</div> {{ form2.university }} {{ form2.department }} {{ form2.state }}<input class="date-button btn btn-primary btn-tutor" type="submit" value="등록">
                </div>

            <br><br>
            <div>

                 {% for date in class_detail.edu_class.all %}
            <div>
                {{ date.university }} {{ date.department }} {{ date.state }}
                <a class="btn btn-secondary" href="{% url 'edu_remove' pk=date.pk %}"><i class="fas fa-trash-alt"></i></a>
            </div>
        <div>
        <hr class="hr_width2">
    {% empty %}
        <p></p>
    {% endfor %}
            </div>
        </form>

<div class="empty_block"></div>
                 <a class="btn btn-primary bottombutton"
            onclick="return confirm('다음 단계로 넘어가시겠습니까?')"
             href="{% url 'addTime2' class_detail.id %}">등록하기</a>
                        </div>
                        </div>
                        </div>





                    </div>
				</div>
			</div>
            </div>
		</div>
    </section>







{% endblock content%}
