{% extends 'firstApp/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% if user.is_active %}
<link href="{% static 'css/community.css' %}" rel="stylesheet">
<link href="{% static 'css/apply_detail.css' %}" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <ul>
                    <li>
                        <a class= "nounderline" href="{% url 'mypage' %}"><h3>MY PAGE</h3></a>
                    </li><br>
                    <li data-toggle="tab">
                        <a class="nav-link"><strong>{{user.username}}님</strong></a>
                        <br>
                    <li class="nav-item">
                        <a class="nav-link" href="/mypage/mylike">관심 클래스</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mypage/myApply">수강 클래스</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mypage/myClass">개설 클래스</a>
                    </li>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-9">
            {% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<div class="container">
					<div class="row">
						<div class="col">
								<div class="alert alert-success">
										수강신청이 취소되었습니다.
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
								</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</ul>
            {% endif %}
            <h4 style="font-weight:bold; color:#B6B3E5;">신청한 클래스</h4><br><br>
            <table class="table">
                <tr>
                    <th>클래스</th>

                </tr>
                {% for apply in applys %}
                <tr>
                    <td>
                        <p>
                            <a aria-controls="collapseExample" aria-expanded="false" data-toggle="collapse"
                               href="#{{apply.pk}}" class="a_underline">
                                {{apply.inClass}}
                         {% if apply.date.date < now%}
                        <a style="float:right;" href="{% url 'review' class_id=apply.inClass.pk %}"> 리뷰작성</a>
                        {% endif %}
                            </a>
                            <div class="createreview">

                    </div>
                        </p>

                        <div class="collapse" id="{{apply.pk}}">
                            <div class="card card-body lighter" >
                                <p>수업시간 : <span class="font-weight-bold">{{apply.date.date}}</span></p>
                                <p>가격 : {{apply.inClass.sale_price | intcomma}}￦</p>
                                <p>신청자 : {{apply.name}}</p>
                                <p>신청 내용 : {{apply.text | safe}}</p>
                                <a class="gotoClass" href="{% url 'product' apply.inClass.pk %}">클래스 바로가기</a>

                                <p class="text-right cancelApply"><a href="{% url 'cancelApply' apply.pk %}" class="a_underline"
                                onclick="return confirm('수강신청을 취소하시겠습니까?')">수강신청 취소</a></p>
                            </div>
                        </div>
                    </td>
                </tr>


                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n로그인을 해주세요.')
    window.location.href = '/login';




</script>
{% endif %}
{% endblock content %}