{% extends 'firstApp/base.html' %}
{% load static %}

{% block content %}
{% if user.is_active %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
    <div class="container">
      <div class="row">
          <div class="col-sm-3" style="padding:0px;">
              <br><br><br>
              <div style=" background-color: #E9F4F7;
                            padding: 30;
                            position: relative;
                            right: 60;
                            top: 60;
                            border-radius: 20px; ">
                  <h4 style="font-weight: bold;
                        font-size: 18; color: #4ECAC6; padding-bottom: 10;">
                  현재 개설된 클래스 일정</h4>
              <ul>
              {% for date in class_detail.date_class.all %}
              <li style="padding:5 0;"><a>{{date.date}}</a></li>
              {% endfor %}
              </ul>
              </div>

          </div>
          <div class="col-sm-9">
            <h5>{{class_detail.title}}</h5>

            <table class="table">
              <tr>
                  <th>수업 일정</th>
                  <th>No.</th>
                <th>이름</th>
                <th>ID</th>
                <th>전화번호</th>
              </tr>
                {% for date in class_detail.date_class.all %}
                    <script> var num = 0; </script>
                    {% for apply in date.apply.all %}
                    <script> num = num + 1 ; if (num == 1) {document.write("<tr><td colspan='5'></td></tr>");}</script>
                    <tr>
                        <script>
                        if(num == 1) {document.write("<td style='font-weight: bold;'>{{apply.date.date}}</td>");}
                        else {document.write("<td colspan='1'></td>");}
                        </script>
                          <td><script> document.write(num)</script></td>
                          <td>{{apply.name}}</td>
                          <td>{{apply.author}}</td>
                          <td>{{apply.number}}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}


            </table>
          </div>
      </div>
    </div>
{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n로그인을 해주세요.')
    window.location.href = '/login';
  </script>
{% endif %}
{% endblock content %}