{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}

<div class="contents">
    <div class="top">
         <h1>클래스신청</h1>
    <div class="applystep">
        <ul>
            <li>01 일정/장소</li>
            <li>02 신청서 작성</li>
            <li>03 결제</li>
        </ul>
    </div>
    </div>
    <div class="classtitle">누구나 쉽게 하루만에 방송댄스 1절 마스터!</div>

    <div class="block">
        <div class="datelist">
        <img src="{% static 'image\calendar.png' %}">
        <b>원하시는 수업일정을 선택해주세요.</b>
        <ul class="datecheck">
            <form>
            <li><input type="radio" name="rad1" value="버튼">04.14(화) 14:00~16:00 > 마포</li>
            <li><input type="radio" name="rad1" value="버튼">04.14(화) 14:00~16:00 > 마포</li>
            <li><input type="radio" name="rad1" value="버튼">04.14(화) 14:00~16:00 > 마포</li>
            <li><input type="radio" name="rad1" value="버튼">04.14(화) 14:00~16:00 > 마포</li>
            <li><input type="radio" name="rad1" value="버튼">04.14(화) 14:00~16:00 > 마포</li>
            <li><input type="radio" name="rad1" value="버튼">04.14(화) 14:00~16:00 > 마포</li>
        </form>
        </ul>
    </div>

    <div class="block">
        <div class="datelist">
        <img src="{% static 'image\note.png' %}">
        <b>다음 신청서를 기입해주세요.</b>
        <ul class="datecheck">
            <form>
            <li>이름&nbsp : <input type="text" name="name" size="10" maxlength="10"></li>
            <li>전화번호 : <input type="text" name="name" size="3" maxlength="3">-<input type="text" name="name" size="3" maxlength="3">-<input type="text" name="name" size="3" maxlength="3"></li>
            <li>레벨 : <select name="level" size="1">
                <option selected disabled>--level--</option>
                <option value="level1">입문자</option>
                <option value="level2">초/중급자</option>
                <option value="level3">상급자</option>
            </select>
                <li><a>전하는말 </a>
                <textarea cols="60" rows="5"></textarea></li>

        </form>
        </ul>
        </div>
    </div>
</div>
{% endblock content%}
