{% extends 'firstApp/base.html'%}
{% load static %}
{% load custom_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/createcomplete.css' %}">

<div class="container">

    <div class="blog-post-area">
        <div class="big-title">클래스 신청 및 결제가 완료 되었습니다.</div>
        <div class="middle-title"> 결제 금액 및 남은 금액 </div>

<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">결제 금액</th>
    <th class="tg-0lax">남은 금액</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">{{class_detail.price}}</td>
    <td class="tg-0lax">{{500000|subtract:class_detail.price}}</td>
  </tr>
</tbody>
</table>
        <div class="des-list">
             <div class="description">- 신청한 클래스는 마이페이지 > 수강 신청 내역에서 확인하실 수 있습니다.</div>
        </div>


        <div class="nextbutton">
                        <a class="btn btn-primary "
             href="/mypage/myApply">수강 신청 내역으로 가기 ▶</a>
                        <a class="btn btn-primary "
             href="{% url 'main' %}">메인 페이지로 가기 ▶</a>
        </div>


    </div>

</div>


{% endblock content%}