{% extends 'firstApp/base.html' %}
{% load static %}

{% block content %}
{% if user.is_active %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <ul>
							<li data-toggle="tab">
								<a href="{% url 'mypage' %}" class="nounderline"><h3>My page</h3></a><br>
								<a class="nav-link"><strong>{{user.username}}님</strong></a>
									<br>
									<li class="nav-item">
										<a class="nav-link" href="/mypage/mylike">관심 클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/myApply">수강클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/myClass">개설클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="">내 정보 관리</a>
									</li>

							</li>
						</ul>
          </div>
        </div>

          <div class="col-sm-9">
            <h5>{{class_detail.title}}</h5>
            <table class="table">
              <tr>
                <th>이름</th>
                <th>ID</th>
                <th>휴대폰</th>
                  <th>일정</th>
                  <th></th>
                  <th></th>
              </tr>
              {% for apply in class_detail.apply.all %}
              <tr>
                <td>{{apply.name}}</td>
                  <td>{{apply.author}}</td>
                  <td>{{apply.number}}</td>
                  <td>{{apply.date.date}}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
      </div>
    </div>
{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n로그인을 해주세요.')
    window.location.href = '/login';
  </script>
{% endif %}
{% endblock content %}