{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
{% if alert_flag %}
<script>alert("폼을 모두 작성해주세요.")</script>
{% endif %}
{% if user.is_active %}

<link rel="stylesheet" href="{% static 'css/createclass.css' %}">
	<section>
		<div class="contents">
            <div class="createclasscont">
                <div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
                        <ul class="steptabs">
                            <li class="active"><a href="#one" data-toggle="tab">1단계 > 일정 선택</a></li>
                            <br>
                            <li><a href="#two" data-toggle="tab">2단계 > 신청서 작성</a></li>
                        </ul>

					</div>
				</div>
				<div class="col-sm-9">
					<div class="blog-post-area">
                        <div class="tab-content">
                        <div class="tab-pane active" id="one">
                            <div class="upperbar">
                                <ul>
                            <li>
                                <div class="stepbutton">이전 단계</div>
                            </li>
                            <li>
                                <h2>1단계　|　일정 선택</h2>
                            </li>
                            <li>
                                <div class="stepbutton">다음 단계</div>
                            </li>
                                </ul>
                            </div>

                            <div class="createcont">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.media }}
                                	<p>
                                        <b>클래스 : </b>
                                        {{ class_detail.title }}
                                    </p>
                                    <br>
                                    <li><input type="radio" name="rad1" value="버튼">일정 선택 : {{ form.date }}</li>
                            </div>
                        </div>

                        <div class="tab-pane" id="two">
                            <div class="upperbar">
                                <ul>
                            <li>
                                <div class="stepbutton">이전 단계</div>
                            </li>
                            <li>
                                <h2>2단계　|　신청서 작성</h2>
                            </li>
                            <li>
                                 <div class="stepbutton">다음 단계</div>
                            </li>
                        </ul>
                            </div>
                            <p>
                                <b>이름 : </b>
                                {{ form.name }}
                            </p>
                            <p>
                                <b>전화번호 : </b>
                                {{ form.number }}
                            </p>
                            <p>
                                <b>튜터에게 전하는 말 : </b>
                                {{ form.text }}
                            </p>
                            <button type="submit" class="btn btn-primary bottombutton" >등록하기</button>

                        </form>
                    </div>
				</div>
			</div>
            </div>
		</div>
    </section>

{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n클래스를 신청하려면 로그인을 해주세요.')
    window.location.href = '/login';
  </script>
{% endif %}
{% endblock content%}