{% extends 'firstApp/base.html'%}
{% load static %}
{% load humanize %}
{% block content %}
{% if alert_flag %}
<script>alert("폼을 모두 작성해주세요.")</script>
{% endif %}

{% if user.is_active %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <div class="container">
    <div class="row">
      <div class="col">
          <div class="alert alert-danger">
              사이버머니가 부족하여 클래스 신청이 불가합니다.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
      </div>
    </div>
  </div>
  {% endfor %}
</ul>
{% endif %}
<link href="{% static 'css/createclass.css' %}" rel="stylesheet">
<section>
 	<section>
		<div id="main">
                <div class="container">
                <div class="row">
				<div class="col-sm-3">
                    <br><br><br>
					<div class="left-sidebar">
                        <ul class="steptabs" style="padding:0px;">
                            <li class="active"><a href="#one" data-toggle="tab">1단계 > 신청서 작성</a></li><br><Br>
                            <li><a href="#two" data-toggle="tab">2단계 > 결제하기</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <div class="tab-content">

                            <div class="tab-pane active" id="one">
                                <div class="upperbar">
                                    <div class="step-num">1단계</div>
                                    <div class="step-title">신청서 작성</div>
                                </div>
                                        <form enctype="multipart/form-data" method="POST">
                                        {% csrf_token %}
                                        {{ form.media }}
                                    <p>
                                        <div class="form_title class_form">클래스</div>
                                        <div class="class_form">{{ class_detail.title }}</div>
                                    </p>
                                    <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">일정</div>
                                        <div class="class_form">{{ date.date }}</div>
                                    </p>
                                    <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">이름</div>
                                        <div class="class_form"><input type="text" name="name" value={{user.first_name}}></div>
                                    </p>
                                    <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">전화번호</div>
                                        <div class="class_form"><input type="text" name="number" value={{user.profile.number}}></div>
                                    </p>
                                    <hr class="hr_width">

                                        <p><div class="form_title class_form">강사에게 전하는 말</div></p>
                                        {{ form.text }}

                                        
                                
                                <button class="btn btn-primary bottombutton" href="#two" data-toggle="tab">다음 단계</button>
                            </div>
                            <div class="tab-pane" id="two">
                            <div class="upperbar">
                                <div class="step-num">2단계</div>
                                <div class="step-title">결제하기</div>
                            </div>
                            <h4 style="font-weight:bold; color:#B6B3E5; text-align:center;">신청 클래스 상세 확인</h4><br><br>
                                    <p>
                                        <div class="form_title class_form">클래스</div>
                                        <div class="class_form">{{ class_detail.title }}</div>
                                    </p>
                            <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">일정</div>
                                        <div class="class_form">{{ date.date }}</div>
                                    </p>
                            <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">가격</div>
                                        <div class="class_form">{{ class_detail.sale_price | intcomma }} 원</div>
                                    </p>
                            <br><br>

                            <input type="submit" class="btn btn-primary bottombutton" value="결제하기">
                                </form>
                        </div>

                        
                        
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n클래스를 신청하려면 로그인을 해주세요.')
    window.location.href = '/login';


</script>
{% endif %}
{% endblock content%}