{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar_custom.css' %}">
<script src="{% static 's/html5shiv.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/price-range.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

<div class="inner">
  <nav class="nav nav-masthead justify-content-end">
    {% if user.is_active %}
    <a class="nav-link"><strong>{{user.username}}님 안녕하세요</strong></a>
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/logout">Logout</a>
    <a class="nav-link" href="#">Notice</a>
    <a class="nav-link" href="/mypage">Mypage</a>
    {% else %}
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="#">Notice</a>
    {% endif %}
  </nav>
</div>


<nav class="navbar navbar-expand-lg  navbar-light navbar-custom">
  <a class="navbar-brand" href="/main"><img src="{% static 'image\logo_1.png' %}" alt="Logo" style="width:230px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-item-custom">
        <a class="nav-link" href="/class_search">Class</a>
      </li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" href="/intro_createclass">Create</a>
      </li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" href="/community">Community</a>
      </li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" href="#">Introduction</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0" action="{% url 'searchResult' %}" method="get">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="검색어를 입력하세요." aria-label="Search" name="q">
      <button class="btn btn-primary my-2 my-sm-0" type="submit" style="height:38px">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
</nav>

<main role="main">
  {% block upper_content %}

  {% endblock upper_content%}
  {% block content %}

  {% endblock content%}
</main>
<footer class="mastfoot mt-auto text-center">
  <div class="inner" style="margin-top:10rem;">
    <p style="margin:0">tel: 012-345-789 /
      email: lee@gmail.com</p>
  </div>
</footer>
