{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar_custom.css' %}">
<script src="{% static 's/html5shiv.js' %}"></script>
<script src="{% static 'js/respond.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/price-range.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

<div class="nav inner">
  <div class="container-fluid" style="width:1500px;">
    <nav class="nav nav-masthead justify-content-end">
      {% if user.is_active %}
      <a class="nav-link"><strong>{{user.username}}님, 환영합니다!</strong></a>
      <a class="nav-link active" href="/">Home</a>
      <a class="nav-link" href="/logout">Logout</a>
      <a class="nav-link" href="#">Notice</a>
      <a class="nav-link" href="/mypage">Mypage</a>
      {% else %}
      <a class="nav-link active" href="/">Home</a>
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="#">Notice</a>
      {% endif %}
    </nav>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom">
  <div class="container-fluid" style="width:1500px;">
  <!-- 메뉴의 홈페이지 이름 -->
    <a class="navbar-brand logo" href="/main"><img src="{% static 'image\logo_1.png' %}" alt="Logo" style="max-width: 30vw; width:150px; padding-bottom:10px;"></a>
  <!-- 모바일때 표시되는 메뉴 버튼(PC 버젼에서는 보이지 않는다.)  -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- 메인 메뉴 아이템 -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Home 메뉴 -->
      <li class="nav-item nav-item-custom">
        <a class="nav-link" href="/class_search">Class</a>
      </li>
      <!-- Link 메뉴 -->
      <li class="nav-item nav-item-custom">
        <a class="nav-link" href="/intro_createclass">Create</a>
      </li>
      <li class="nav-item nav-item-custom">
        <a class="nav-link" href="/community">Community</a>
      </li>
    </ul>
  <div class="nav-item nav-item-custom">
    <div class="row">
      <form class="form-inline my-2 my-lg-0" action="{% url 'searchResult' %}" method="get">
      {% csrf_token %}
      <div class="col-xs-8" style="max-width:50vw;">
        <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="Search" name="qq" value="{{ qq }}">
      </div>
       <div class="col-xs-2" style="margin-left:10px;">
          <button class="btn btn-primary my-2 my-sm-0" type="submit" style="height:38px">
        <i class="fas fa-search"></i>
            </button>
       </div>
      </form>
    </div>
      </div>
  </div>
  </div>
</nav>

<main role="main">
  {% block upper_content %}

  {% endblock upper_content%}
  {% block content %}

  {% endblock content%}
</main>
<footer class="mastfoot mt-auto text-center">
  <div class="inner" style="margin-top:10rem;">
    <p style="margin:0">tel: 012-345-789 /
      email: lee@gmail.com</p>
  </div>
</footer>
