{% extends 'firstApp/base.html'%}
{% load static %}
{% block upper_content %}
<link rel="stylesheet" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
<link rel="stylesheet" href="{% static 'css/product_custom.css' %}">
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/slick.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/product.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/catelist.css' %}">

            <div style="width:1500px;height:450px;position:relatidve; left:80px;" class="for_slick_slider single-item">
                <div class="itemss"><img style="width:1500px;height:450px;" src="{% static 'image\배너1.png' %}"></div>
                <div class="itemss"><img style="width:1500px;height:450px;" src="{% static 'image\배너2.png' %}"></div>
                <div class="itemss"><img style="width:1500px;height:450px;" src="{% static 'image\배너3.png' %}"></div>

            </div>


<div class="catebar">
  <ul class="catelist">
    <li class="cateitem">
      <a class="nounderline" href="/class">
        <button type="button" class="btn btn-light btn-circle btn-xl">
          <div class="cateicon"><img class="icon" src="{% static 'image\icons8-trophy-64.png' %}"></div><div>Best</div>
        </button>
      </a>
    </li>
    <li class="cateitem">
      <a class="nounderline" href="/class?cateId=2">
        <button type="button" class="btn btn-light btn-circle btn-xl">
          <div class="cateicon"><img class="icon" src="{% static 'image\icons8-art-book-100.png' %}"></div><div>미술,공예</div>
        </button>
      </a>
    </li>
     <li class="cateitem">
      <a class="nounderline" href="/class?cateId=3">
        <button type="button" class="btn btn-light btn-circle btn-xl">
          <div class="cateicon"><img class="icon" src="{% static 'image\icons8-electronic-music-52.png' %}"></div><div>음악,댄스</div>
        </button>
      </a>
    </li>
    <li class="cateitem">
      <a class="nounderline" href="/class?cateId=4">
        <button type="button" class="btn btn-light btn-circle btn-xl">
          <div class="cateicon"><img class="icon" src="{% static 'image\design.png' %}"></div><div style="font-size:13px">개발,디자인</div>
        </button>
      </a>
    </li>
    <li class="cateitem">
      <a class="nounderline" href="/class?cateId=5">
        <button type="button" class="btn btn-light btn-circle btn-xl">
         <div class="cateicon"><img class="icon" src="{% static 'image\career.png' %}"></div><div>커리어</div>
        </button>
      </a>
    </li>
    <li class="cateitem">
      <a class="nounderline" href="/class?cateId=6">
        <button type="button" class="btn btn-light btn-circle btn-xl">
         <div class="cateicon"><img class="icon" src="{% static 'image\icons8-translation-52.png' %}"></div><div>언어</div>
        </button>
      </a>
    </li>
    <li class="cateitem">
      <a class="nounderline" href="/class?cateId=7">
        <button type="button" class="btn btn-light btn-circle btn-xl">
        <div class="cateicon"><img class="icon" src="{% static 'image\fashion.png' %}"></div><div>뷰티</div>
        </button>
      </a>
    </li>
     <li class="cateitem">
      <a class="nounderline" href="/class?cateId=8">
        <button type="button" class="btn btn-light btn-circle btn-xl">
         <div class="cateicon"><img class="icon" src="{% static 'image\cooking.png' %}"></div><div>요리</div>
        </button>
      </a>
    </li>
    <li class="cateitem">
      <a class="nounderline" href="/class?cateId=9">
        <button type="button" class="btn btn-light btn-circle btn-xl">
         <div class="cateicon"><img class="icon" src="{% static 'image\channel.png' %}"></div><div>기타</div>
        </button>
      </a>
    </li>
  </ul>
</div>

{% endblock upper_content%}
{% block content %}
{% if user.is_active %}
<h5>{{user.username}}님의 맞춤 추천 클래스</h5>
{% else %}
<h5>더 많은 클래스를 경험하시려면 회원가입 하세요!</h5>
{% endif %}

<div class="album py-5 bg-light">

      <div class="container">
        <form  action="{% url 'class_align' %}" method="get">
          <div class="filter-item" align="right">
              <span class="filter-name">정렬</span>
              <select name="r" value="{{ r }}">
                  <option selected disabled value="0">--선택--</option>
                  <option value="1">낮은 가격순</option>
                  <option value="2">높은 가격순</option>
              </select><input type="submit" value="적용">
          </div>
          </form>

        <div class="row">
          {% for class in classs %}
          <div class="col-md-4">
            <a class="productdetail"
               href="{% url 'product' class.id %}">
              <div class="card mb-4 shadow-sm">
              <img src="{{class.photo.url}}" width="338px" height="250px">
<div class="card-body">
                <p class="class_title">{{class.title}}</p>

                  <small class="tutor_name">{{class.tutor}}</small>
                    <span class="class_price">{{class.price}} 원</span>


                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock content%}
