{% extends 'firstApp/base.html' %}
{% load static %}

{% block upper_content %}
<link rel="stylesheet" href="{% static 'css/selectbox.css' %}">
    <form action="#">
    <div class="container bg-light select-box">
            <div class="filter-item">
                <span class="filter-name">카테고리</span>
                <select id="sort-select" onchange="location = this.value;">
                    <option value="/class">전체보기</option>
                    <option value="/class">베스트</option>
                    {% for category in cate_list%}
                        {% if category.pk == cateId %}
                            <option value="?cateId={{category.pk}}" selected>{{category.name}}</option>
                        {% else %}
                            <option value="?cateId={{category.pk}}" >{{category.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <span class="filter-name">상세 카테고리</span>
                <select>
                    {% for area in areas %}
                    <option>{{area.name}}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="filter-item">
                <span class="filter-name">지역</span>
                <select name="region">
                    <option value="all">전체</option>
                    <option value="seoul">서울</option>
                    <option value="kk">경기</option>
                    <option value="bs">부산</option>
                </select>
                <span class="filter-name"></span>
                <select name="region2">
                    <option value="all">전체</option>
                    <option value="seoul">서울</option>
                    <option value="kk">경기</option>
                    <option value="bs">부산</option>
                </select>
            </div>
            <div class="filter-item">
                <span class="filter-name">요일 / 시간</span>
                <label><input type="checkbox" name="day" value="mon"> Mon </label>
                <label><input type="checkbox" name="day" value="tue"> Tue </label>
                <label><input type="checkbox" name="day" value="tue"> Wed </label>
                <label><input type="checkbox" name="day" value="tue"> Thu </label>
                <label><input type="checkbox" name="day" value="tue"> Fri </label>
                <label><input type="checkbox" name="day" value="tue"> Sat </label>
                <label><input type="checkbox" name="day" value="tue"> Sun </label>
                <span class="filter-name"></span>
                <label><input type="checkbox" name="time" value="morning"> Morning </label>
                <label><input type="checkbox" name="time" value="afternoon"> afternoon </label>
                <label><input type="checkbox" name="time" value="evening"> evening </label>
            </div>
            <div class="filter-item">
                <span class="filter-name">가격대</span>
                <input type="number"> ~ <input type="number"> 원
            </div>
    </div>
    <div class="apply">
    <input type="submit" value="적용하기">
    </div>
    </form>
{% endblock upper_content%}
{% block content %}
    <h5>result</h5>

    <div class="album py-5 bg-light">

        <div class="container">

            <div class="row">
                {% for class in classes %}
          <div class="col-md-4">
            <a class="productdetail"
               href="{% url 'product' class.id %}">
              <div class="card mb-4 shadow-sm">
              <img src="{{class.photo.url}}" width="338px" height="250px">
              <div class="card-body">
                <p class="card-text">{{class.title}}</p>
                <div class="d-flex justify-content-between align-items-center">

                   <small class="tutor_name">{{class.tutor}}</small>
                    <span class="class_price">{{class.price}} 원</span>
                </div>
              </div>
              </div>
            </a>
          </div>
          {% endfor %}
            </div>
        </div>
    </div>
    {% endblock content %}