{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% if alert_flag1 %}
<script>alert("새 비밀번호와 비밀번호 확인이 다릅니다.")</script>
{% endif %}
{% if alert_flag2 %}
<script>alert("현재 비밀번호가 다릅니다.")</script>
{% endif %}
{% if user.is_active %}	
<div class="text-center">	
		<h4>비밀번호 변경</h4>
		<form method="POST" action="{% url 'change_pw' %}" class="login_form">
			{% csrf_token %}
			<br>
			<input name="origin_password" type="password" class="input-field" placeholder="현재 비밀번호" required>
			<br>
			<br>
			<input name="password1" type="password" class="input-field" placeholder="새 비밀번호" required>
			<br>
			<br>
			<input name="password2" type="password" class="input-field" placeholder="새 비밀번호 확인" required>
			<br><br>
			<input type="submit" button class="submit" value="변경하기" style="display:inline-block; margin:0;">
		</form>
</div>

{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n로그인이 필요합니다.')
    window.location.href = '/login';
  </script>

{% endif %}
{% endblock content%}
