{% extends 'firstApp/base.html' %}
{% load static %}

{% block content %}
{% if user.is_active %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <ul>
              <li>
								<a class= "nounderline" href="{% url 'mypage' %}"><h3>MY PAGE</h3></a>
							</li><br>
							<li data-toggle="tab">
								<a class="nav-link"><strong>{{user.username}}님</strong></a>
									<br>
									<li class="nav-item">
										<a class="nav-link" href="/mypage/mylike">관심 클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/myApply">수강 클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/myClass">개설 클래스</a>
									</li>

							</li>
						</ul>
          </div>
        </div>

          <div class="col-sm-9">
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <div class="container">
                <div class="row">
                  <div class="col">
                        <div class="alert alert-success">
                              개설 클래스가 삭제되었습니다.
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                        </div>
                  </div>
               </div>
            </div>
            {% endfor %}
            </ul>
          {% endif %}
            <h4 style="font-weight:bold; color:#B6B3E5;">개설한 클래스</h4><br><br>
            <table class="table">
              <tr>
                <th>클래스</th>
                <th></th>
                <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
              </tr>
              {% for class in classs %}
              <tr>
                <td>
                    {% if class.on_permission == True %}
                    <a class="a_underline" href="{% url 'product' class.id %}">{{ class.title }}</a>
                    {% else%}
                    <a class="a_underline" style="text-decoration: line-through;" href="{% url 'product' class.id %}">{{ class.title }}</a>
                    <span style="
    font-size: 11px;
    color: red;
    position: relative;
    bottom: 1px;
    left: 15px;"> 심사중 </span>
                    {% endif %}
                </td>
                <td class="lighter"><a class="abc" href="{% url 'update_class' class.id %}">정보수정</a></td>
                <td class="lighter"><a class="abc" href="{% url 'addTime' class.id %}">일정추가</a></td>
                  <td class="lighter"><a class="abc" href="{% url 'classSale' class.id %}">할인</a></td>
                  <td class="lighter"><a class="abc" href="{% url 'applicant' class.id %}">신청현황</a></td>
                  <td class="lighter"><a class="abc" style="color:red;" onclick="return confirm('삭제한 클래스는 복구할 수 없습니다.\n정말 삭제하시겠습니까?')" href="{% url 'product_remove' class.id %}">삭제</a></td>
              </tr>
              {% endfor %}
            </table>
          </div>
      </div>
    </div>
{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n로그인을 해주세요.')
    window.location.href = '/login';
  </script>
{% endif %}
{% endblock content %}