{% extends 'firstApp/base.html' %}
{% load static %}
{% load humanize %}
{% load bootstrap %}
{% block upper_content %}

<link rel="stylesheet" href="{% static 'css/selectbox.css' %}">
<link rel="stylesheet" href="{% static 'css/catelist.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script type="text/javascript" src="{% static 'js/priceInput.js' %}"></script>

<div class="container">
    <form method="get">
        {{ filter.form|bootstrap }}
        <button type="submit" class="btn btn-primary">적용</button>
    </form>

</div>











 <!--   <form  action="{% url 'class_search' %}" method="get">
    <div class="container bg-light select-box">
            <div class="filter-item">
                <span class="filter-name">카테고리</span>
                {% for category in categorys %}
                    {% if category.pk in cid_list%}
                        <div class="form-check form-check-inline">
                                <label><input class="form-check-input" type="checkbox" name="category" value={{category.pk}} checked>
                                    {{category.name}}</label>
                        </div>
                        {% else %}
                        <div class="form-check form-check-inline">
                                <label><input class="form-check-input" type="checkbox" name="category" value={{category.pk}}>
                                    {{category.name}}</label>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="filter-item">
                <span class="filter-name">지역</span>
                <select name="area">
                    <option value="">전체보기</option>
                    {% for area in areas %}
                        {% if aid == area.pk %}
                            <option value={{area.pk}} selected>{{area.name}}</option>
                        {% else %}
                            <option value={{area.pk}}>{{area.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="filter-item">
                <span class="filter-name">레벨</span>
                    {% for level in levels %}
                        {% if level.pk in lid_list%}
                            <div class="form-check form-check-inline">
                                    <label><input class="form-check-input" type="checkbox" name="level" value={{level.pk}} checked>
                                        {{level.name}}</label>
                            </div>
                            {% else %}
                            <div class="form-check form-check-inline">
                                    <label><input class="form-check-input" type="checkbox" name="level" value={{level.pk}}>
                                        {{level.name}}</label>
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>

            <div class="filter-item">
                <span class="filter-name">가격대</span>
                <span><input class="price_search_input" id="minPrice" name="price1" type="text" maxlength="9"></span>
                <span>원 ~</span>
                <span><input class="price_search_input" id="maxPrice" name="price2" type="text" maxlength="9"></span>
                <span>원</span>
                &nbsp;<span id="errmsg"></span>
            </div>
    <br>
        <div class="text-right"><input class="btn btn-primary" type="submit" value="적용하기"></div>
    </div>
    </form>-->
{% endblock upper_content%}
{% block content %}

    <div class="album py-5 bg-light">

        <div class="container">
            <!--<form  action="{% url 'class_align' %}" method="get">
                <div class="filter-item" align="right">
                    <span class="filter-name">정렬</span>
                    <select name="r" value="{{ r }}">
                        <option selected disabled value="0">--선택--</option>
                        <option value="1">낮은 가격순</option>
                        <option value="2">높은 가격순</option>
                    </select><input type="submit" value="적용">
                </div>
            </form>-->
            <div class="row">
              {% for class in filter.qs %}
              <div class="col-md-4">
                <a class="productdetail"
                   href="{% url 'product' class.id %}">
                  <div class="card mb-4 shadow-sm">
                  <img src="{{class.photo.url}}" width="338px" height="250px" style="align-self: center;margin-top: 5px;">
                      {% if class.on_sale == True %}
                      <div class="on_sale">SALE</div>
                      {% endif %}
                    <div class="card-body">
                    <p class="class_title">{{class.title}}</p>

                      <small class="tutor_name">{{class.tutor}}</small>

                        {% if class.on_sale == True %}
                        <span class="class_price">{{class.sale_price|intcomma}} 원</span>
                            <span style="
                                text-decoration: line-through;
        color: #848484;
        font-size: 16px;
        float: right;
        font-weight: bolder;
        position: relative;
        bottom: 25px;
        margin-right: 3px;">{{class.price|intcomma}} 원</span>

                        {% else %}
                        <span class="class_price">{{class.price|intcomma}} 원</span>
                        {% endif %}

                    </div>
                  </div>
                </a>
              </div>
                {% empty %}
                  <div class = "row mx-auto">
                      <p class="text-center my_search_text">검색 결과가 없습니다.</p>
                  </div>
          {% endfor %}
            </div>
        </div>
    </div>
    {% endblock content %}