{% extends 'firstApp/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% if user.is_active %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
<link href="{% static 'css/apply_detail.css' %}" rel="stylesheet">
<script src="https://kit.fontawesome.com/81816a43c2.js" crossorigin="anonymous"></script>
<div class="sidenav" style="z-index: 3;" id="mySidenav">
    <a class="closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a>
    <a class= "nounderline" href="{% url 'mypage' %}"><h3>MY PAGE</h3></a>
    <a class="nav-link"><strong>{{user.username}}님</strong></a>
    <hr>
    <a class="font-weight-bold" href="/mypage/mylike">관심 클래스</a>
    <a class="font-weight-bold" href="/mypage/myApply">수강 클래스</a>
    <a class="font-weight-bold" href="/mypage/myClass">개설 클래스</a>
</div>
    <span class="btn_sidebar my-nav-button" onclick="openNav()"><i class="fas fa-caret-right"></i></span>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <ul>
              <li>
								<a class= "nounderline" href="{% url 'mypage' %}"><h3>MY PAGE</h3></a>
							</li><br>
							<li data-toggle="tab">
								<a class="nav-link"><strong>{{user.username}}님</strong></a>
									<br>
									<li class="nav-item">
										<a class="nav-link" href="/mypage/mylike">관심 클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/myApply">수강 클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/myClass">개설 클래스</a>
									</li>

							</li>
						</ul>
          </div>
        </div>

          <div class="col-sm-9">
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <div class="container">
                <div class="row">
                  <div class="col">
                        <div class="alert alert-success">
                              개설 클래스가 삭제되었습니다.
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                        </div>
                  </div>
               </div>
            </div>
            {% endfor %}
            </ul>
          {% endif %}
            <h4 class="my_page_title" style="font-weight:bold; color:#B6B3E5;">개설한 클래스</h4><br><br>
            <table class="table">
              <tr>
                <th colspan="8">클래스</th>
              </tr>
              {% for class in classs %}
              <tr>
                <td colspan="3">
                    {% if class.on_permission == True %}
                    <a class="a_underline" href="{% url 'product' class.id %}">{{ class.title }}</a>
                    {% else%}
                    <a class="a_underline" style="text-decoration: line-through;" href="{% url 'product' class.id %}">{{ class.title }}</a>
                    <span style="
    font-size: 11px;
    color: red;
    position: relative;
    bottom: 1px;
    left: 15px;"> 심사중 </span>
                    {% endif %}
                </td>
                <td class="lighter" id="edit"><a class="abc" href="{% url 'update_class' class.id %}">정보수정</a></td>
                <td class="lighter" id="add"><a class="abc" href="{% url 'addTime2' class.id %}">일정관리</a></td>
                  <td class="lighter"><a class="abc" href="{% url 'classSale' class.id %}">할인</a></td>
                  <td class="lighter"><a class="abc" href="{% url 'applicant' class.id %}">신청현황</a></td>
                  <td class="lighter"><a class="abc" style="color:red;" onclick="return confirm('삭제한 클래스는 복구할 수 없습니다.\n정말 삭제하시겠습니까?')" href="{% url 'product_remove' class.id %}">삭제</a></td>
              </tr>
              {% endfor %}
            </table>
          </div>
      </div>
    </div>
<script>
    function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n로그인을 해주세요.')
    window.location.href = '/login';
  </script>
{% endif %}
{% endblock content %}