{% extends 'firstApp/base.html' %}
{% load static %}

{% block upper_content %}
<link rel="stylesheet" href="{% static 'css/selectbox.css' %}">
<link rel="stylesheet" href="{% static 'css/catelist.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">

<p class = "text-center my_search_text"><b style="font-weight:bold; color:#B6B3E5;">클래스 검색</b></p>
    <form  action="{% url 'class_search' %}" method="get">
    <div class="container bg-light select-box">
            <div class="filter-item">
                <span class="filter-name">카테고리</span>
                <select name="category" value="{{ c }}">
                    <option selected value="전체">전체보기</option>
                    {% for category in categorys %}
                    <option>{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-item">
                <span class="filter-name">지역</span>
                <select name="area" value="{{ a }}">
                    <option selected value="전체">전체보기</option>
                    {% for area in areas %}
                    <option>{{area.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-item">
                <span class="filter-name">레벨</span>
                <select name="level" value="{{ l }}">
                    <option selected value="전체">전체보기</option>
                    {% for level in levels %}
                    <option>{{level.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-item">
                <span class="filter-name">가격대</span>
                <select name="price" value="{{ p }}">
                    <option selected value="전체">전체보기</option>
                    <option value="p1">1만원 이하</option>
                    <option value="p2">1만원 ~ 2만원</option>
                    <option value="p3">2만원 ~ 3만원</option>
                    <option value="p4">3만원 ~ 4만원</option>
                    <option value="p5">4만원 ~ 5만원</option>
                    <option value="p6">5만원 이상</option>
                </select>
            </div>
 <br>
    <input class="btn btn-primary bottombutton" type="submit" value="적용하기">
    </div>
    </form>
{% endblock upper_content%}
{% block content %}
<p class = "text-center my_search_text">
     <b style="font-weight:bold; color:#B6B3E5;">검색결과</b>
    <br><br> <strong>카테고리</strong> : {{category}} &nbsp;&nbsp; <strong>지역</strong> : {{area}}
    &nbsp;&nbsp; <strong>레벨</strong> : {{level}} &nbsp;&nbsp; <strong>가격대</strong> : {{price}}</p>


    <div class="album py-5 bg-light">

        <div class="container">
            
            <div class="row">
          {% for class in classs %}
          <div class="col-md-4">
            <a class="productdetail"
               href="{% url 'product' class.id %}">
              <div class="card mb-4 shadow-sm">
              <img src="{{class.photo.url}}" width="338px" height="250px" style="align-self: center;margin-top: 5px;">
                  {% if class.on_sale == True %}
                  <div class="on_sale">SALE</div>
                  {% endif %}
                <div class="card-body">
                <p class="class_title">{{class.title}}</p>

                  <small class="tutor_name">{{class.tutor}}</small>

                    {% if class.on_sale == True %}
                    <span class="class_price">{{class.sale_price}} 원</span>
                        <span style="
                            text-decoration: line-through;
    color: #848484;
    font-size: 16px;
    float: right;
    font-weight: bolder;
    position: relative;
    bottom: 25px;
    margin-right: 3px;">{{class.price}} 원</span>

                    {% else %}
                    <span class="class_price">{{class.price}} 원</span>
                    {% endif %}

                </div>
              </div>
            </a>
          </div>
                {% empty %}
                  <div class = "row mx-auto">
                      <p class="text-center my_search_text">검색 결과가 없습니다.</p>
                  </div>
          {% endfor %}
            </div>
        </div>
    </div>
    {% endblock content %}