{% extends 'firstApp/base.html' %}
{% load static %}

{% block upper_content %}
<link rel="stylesheet" href="{% static 'css/selectbox.css' %}">
<link rel="stylesheet" href="{% static 'css/catelist.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">

<p class = "text-center my_search_text"><b>클래스 검색</b></p>
    <form  action="{% url 'class_search' %}" method="get">
    <div class="container bg-light select-box">
            <div class="filter-item">
                <span class="filter-name">카테고리</span>
                <select name="q" value="{{ q }}">
                    <option selected value="전체">전체보기</option>
                    {% for category in categorys %}
                    <option>{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-item">
                <span class="filter-name">지역</span>
                <select name="p" value="{{ p }}">
                    <option selected value="전체">전체보기</option>
                    {% for area in areas %}
                    <option>{{area.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="filter-item">
                <span class="filter-name">가격대</span>
                <input class="input" type="text" name="k" value="{{ k }}" placeholder="0"> ~ <input class="input" type="text" value="{{ kk }}" name="kk">
            </div>
           
 <br>
    <input class="btn btn-primary bottombutton" type="submit" value="적용하기">
    </div>
    </form>
{% endblock upper_content%}
{% block content %}
<p class = "text-center my_search_text"><b>{{q}} / {{p}} / {{k}}~{{kk}}<br>검색결과</b></p>


    <div class="album py-5 bg-light">

        <div class="container">
            
            <div class="row">
          {% for class in classs %}
          <div class="col-md-4">
            <a class="productdetail"
               href="{% url 'product' class.id %}">
              <div class="card mb-4 shadow-sm">
              <img src="{{class.photo.url}}" width="338px" height="250px" style="align-self: center;margin-top: 5px;">
                  {% if class.on_sale == True %}
                  <div class="on_sale">SALE</div>
                  {% endif %}
                <div class="card-body">
                <p class="class_title">{{class.title}}</p>

                  <small class="tutor_name">{{class.tutor}}</small>

                    {% if class.on_sale == True %}
                    <span class="class_price">{{class.sale_price}} 원</span>
                        <span style="
                        text-decoration: line-through;
                        color: #848484;
                        font-size: 16px;
                        float: right;
                        font-weight: bolder;
                        position: relative;
                        bottom: -11px;
                        margin-right: 8px; ">{{class.price}} 원</span>

                    {% else %}
                    <span class="class_price">{{class.price}} 원</span>
                    {% endif %}

                </div>
              </div>
            </a>
          </div>
          {% endfor %}
            </div>
        </div>
    </div>
    {% endblock content %}