{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/paginate.css' %}">
<html>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
							<h4>Community</h4>
                            <li class="active"><a href="전체글" data-toggle="tab">전체 글</a></li>
							<li class="active"><a href="카테고리별" data-toggle="tab">카테고리별</a></li>
							<li class="active"><a href="내가쓴글" data-toggle="tab">내가 쓴 글</a></li>
							<li class="active"><a href="댓글단글" data-toggle="tab">댓글 단 글</a></li>
					</div>	
				</div>

				<div class="col-sm-9">
					<div class="blog-post-area">
							<table class="table">
								<tr>
									<th>제목</th>
									<th>작성일</th>
									<th>작성자</th>
									<th>조회수</th>
								</tr>
								{% for post in post_list %}
								<tr>
									<td>{{post.title}}</td>
									<td>{{post.created_date}}</td>
									<td>{{post.author}}</td>
									<td>{{post.views}}</td>
								</tr>
								{% endfor %}
							</table>
						
						<div align="right">
							<div id="btn"> 
							 <button>작성하기</button> 
							</div>
						</div>

						<div class="page_wrap">
							<div class="page_nation">
							   <a class="arrow pprev" href="#"></a>
							   <a class="arrow prev" href="#"></a>
							   <a href="#" class="active">1</a>
							   <a href="#">2</a>
							   <a href="#">3</a>
							   <a href="#">4</a>
							   <a href="#">5</a>
							   <a class="arrow next" href="#"></a>
							   <a class="arrow nnext" href="#"></a>
							</div>
						 </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<style>
		table {
		  border-top: 1px solid #F685A2;
		}
		th, td {
		  border-bottom: 1px solid #F685A2;
		}
		th {
		  background-color: #F685A2;
		}
		#btn button{
			border: 0; 
			background-color: #F685A2;
			color: rgb(0, 0, 0); 
			padding: 5px;
		}
		#btn button:hover{
			color:white;
			background-color:#F685A2;
		}
	  </style>
</body>
</html>
{% endblock content%}
