{% extends 'firstApp/base.html'%}
{% load static %}
{% load humanize%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/product_custom.css' %}">
<link href="{% static 'css/product_custom.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/slick.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/product.js' %}"></script>
<div class="container">
    <div class="product">
        <div class="product-pic">
            {% if class_detail.on_permission == False %}
            <div class="photo-icon">심 사 중</div>
            <div class="permissioning">본 클래스는 인증 심사중으로 다른 사용자에게 보여지지 않습니다.</div>
            {% endif %}
            {% if class_detail.on_sale == True %}
            <div class="sale-icon">SALE</div>
            {% endif %}
            <div style="width:600px;height:450px;" class="for_slick_slider single-item">
                <div class="items"><img style="width:600px;height:450px;" src="{{ class_detail.photo.url }}"></div>
                <div class="items"><img style="width:600px;height:450px;" src="{{ class_detail.photo.url }}"></div>
                <div class="items"><img style="width:600px;height:450px;" src="{{ class_detail.photo.url }}"></div>
                <div class="items"><img style="width:600px;height:450px;" src="{{ class_detail.photo.url }}"></div>
                <div class="items"><img style="width:600px;height:450px;" src="{{ class_detail.photo.url }}"></div>
            </div>

             <div class="like_block">

                    {% if user != class_detail.author %}
                    {% if heart == 1 %}
                    <a href="{% url 'like' class_detail.id %}"><b><img
                            src="https://img.icons8.com/material-sharp/24/000000/like.png"/></b></a>
                    {% else %}
                    <a href="{% url 'like' class_detail.id %}"><b><img
                            src="https://img.icons8.com/metro/26/000000/like.png"/></b></a>
                    {% endif %}
                    {{ class_detail.like_count }}
                    {% else %}
                    <b><img src="https://img.icons8.com/material-sharp/24/000000/like.png"/></b>
                    {{ class_detail.like_count }}
                    {% endif %}
             </div>
        </div>

        <div class="product-info">
            <h2 style="line-height:1.8;">{{ class_detail.title }}</h2>


            <ul class="prolist">
                <li class="proitem"><img class="proicon" src="{% static 'image\location.png' %}"><div class="proitem-item">{{class_detail.area}}</div> </li>
                <li class="proitem"><img class="proicon" src="{% static 'image\difficulty.png' %}"><div class="proitem-item">{{class_detail.level}}</div></li>
                <li class="proitem"><img class="proicon" src="{% static 'image\mode2.png' %}">
                    <div class="proitem-item">

                    {% if class_detail.in_min != 1 %}
                    {% if class_detail.in_max != 1 %}
                    {{class_detail.in_min}}명 ~ {{class_detail.in_max}}명
                    {% endif %}
                        {% else %}
                        {{class_detail.mode}}
                    {% endif %}

                    </div>
                </li>
            </ul>

            <div class="price_div">
                 <div class="time_tag"> 1회 {{class_detail.time}}시간 </div>
                {% if class_detail.on_sale == True %}
                <span class="price_tag">{{class_detail.price|intcomma}}원</span>
                <span class="sale_tag">{{class_detail.sale_price|intcomma}}원</span>

                    {% else %}
                    <span class="sale_tag">{{class_detail.sale_price|intcomma}} 원</span>
                    {% endif %}
            </div>

            {% if user != class_detail.author %}
            <form style="margin:0px;" action="{% url 'apply' class_detail.id%}" method="get">
                <span style="padding-left:70px; margin-top:40px; font-weight:bold; padding-right:10px;
                              ">수강 날짜 선택</span>
            <select name="date" >
                {% for date in class_detail.date_class.all %}
                <option value="{{date.pk}}">{{ date.date }}</option>
                {% empty %}
                {% endfor %}
            </select>


                    <input class="btn btn-primary button" type="submit" value="클래스 신청">
            </form>

            {% else %}
            <b style="padding-left:70px; margin-top:40px; padding-right:10px;">수강 날짜 선택</b>
            <select name="date">
                {% for date in class_detail.date_class.all %}
                <option value="{{date.pk}}">{{ date.date }}</option>
                {% empty %}
                {% endfor %}
            </select>
            <a class="btn btn-primary twobutton" href="{% url 'update_class' class_detail.id %}">
                정보 수정
            </a>
            <a class="btn btn-primary twobutton" href="{% url 'addTime' class_detail.id %}">
                일정 추가
            </a>
            {% endif %}

        </div>
    </div>
    <div class="category-tab shop-details-tab">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#details">클래스 소개</a></li>
            <li><a data-toggle="tab" href="#tutor">강사 정보</a></li>
            <li><a data-toggle="tab" href="#review">REVIEW</a></li>
            <li><a data-toggle="tab" href="#qna">Q & A</a></li>
        </ul>

    <div class="tab-content">
      <div class="tab-pane " id="details">
        <div class="more-container">

          <div class="con-desc">
              {{ class_detail.body | safe }}
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tutor">
        <div class="more-container">
          <div class="con-desc">
              <div class="tutor_top">
                  {% if class_detail.tutor_photo %}
                <img class="tutor_photo" src="{{ class_detail.tutor_photo.url }}" alt="">
                {% endif %}
                  <div class="product_tutor_name">{{class_detail.tutor}}</div>
              <div class="tutor_detail">
                    {% for certificate in class_detail.certi_class.all %}
                      <div><img class="product-q-img" src="{% static 'image\certificate.png' %}">{{ certificate.name}}</div>
                {% empty %}
                <p></p>
                {% endfor %}
                {% for education in class_detail.edu_class.all %}
                      <div><img class="product-q-img" src="{% static 'image\graduated.png' %}"> {{ education.university}}
                      {{ education.department}}
                      {{ education.state}} </div>
                {% empty %}
                <p></p>
                {% endfor %}
                  {% if class_detail.tutor_insta %}
              <div><img class="product-q-img" src="{% static 'image\insta.png' %}">{{class_detail.tutor_insta}}</div>
                   {% endif %}
                  {% if class_detail.tutor_blog %}
              <div><img class="product-q-img" src="{% static 'image\blog.png' %}">{{class_detail.tutor_blog}}</div>
                   {% endif %}
                  {% if class_detail.tutor_youtube %}
                    <div><img class="product-q-img" src="{% static 'image\youtube.png' %}">{{class_detail.tutor_youtube}}</div>
                   {% endif %}
              </div>
              </div>


              <div class="tutor_body">{{ class_detail.tutor_body | safe }}</div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tag">
        <div class="more-container">
              {% for review in class_detail.review_class.all %}
        <div class="comment">
            <div class="product-review-date">
                {{ review.created_date }}
            </div>
            <strong><img class="product-review-img" src="{% static 'image\review.png' %}"><span class="product-review-title">{{ review.title }}</span></strong>
            <p>{{ review.body|linebreaks }}</p>
        </div>
        <div class="product-review-hr"><hr></div>
    {% empty %}
        <p></p>
    {% endfor %}
        </div>
      </div>
     <div class="tab-pane active" id="reviews" >
		<div class="more-container">
            {% if user != class_detail.author %}
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.question }}
            <br>
            <button type="submit" class="review-button">등록</button>
            </form>
            {% endif %}
             {% for qna in class_detail.qna_class.all %}
        <div class="comment">
            <div class="product-review-date">
                {{ qna.created_date }}
            </div>
            <img class="product-q-img" src="{% static 'image\q.png' %}"><div class="product-question">{{ qna.question }}</div>
                        {% if qna.pk == parent_question.pk %}
                        <form method="POST" class="post-form">
                            {% csrf_token %}
                            {{ form.answer }}
                            <button style="margin-top:10px; margin-right:10px; " type="submit" class="btn btn-primary comment_submit answer-button">등록</button>
                        </form>

            {% else%}
            {% if user == class_detail.author %}
             {% if qna.answer_class.all %}
                    <a class="btn btn-primary answer-button" href="{% url 'update_answer' pk=qna.pk %}">수정</a>
                {% else%}
                    <a class="btn btn-primary answer-button" href="{% url 'create_answer' pk=qna.pk %}">답변</a>
                {% endif %}
            {% endif %}
            {% endif %}
            {% for answer in qna.answer_class.all %}
             {% if answer.answer %}
            <div class="product-answer"><img class="product-q-img" src="{% static 'image\a.png' %}">
                <span>
                    {{ answer.answer }}

                    {% endif %}
                    {% endfor %}
                </span>
            </div>
        </div>
        <div class="product-review-hr"><hr></div>
        <p></p>
    {% endfor %}
        </div>
    </div>
  </div>
</div>
</div>
{% endblock content%}


