{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
{% if alert_flag %}
<script>alert("폼을 모두 작성해주세요.")</script>
{% endif %}
{% if user.is_active %}
<link rel="stylesheet" href="{% static 'css/createclass.css' %}">
	<section>
		<div class="contents">
            <div class="createclasscont">
                <div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
                        <ul class="steptabs">

                                <li class="active"><a href="#one" data-toggle="tab">1단계 > 클래스 기본정보</a></li>
                        <ul>
                            <li>클래스 정보</li>
                            <li>커버이미지</li>
                        </ul>
                            <li><a href="#two" data-toggle="tab">2단계 > 클래스 소개</a></li>
                        <ul>
                            <li>클래스 소개하기</li>
                        </ul>
                            <li><a href="#three" data-toggle="tab">3단계 > 크리에이터 소개</a></li>
                        <ul>
                            <li>크리에이터 소개하기</li>
                        </ul>


                            <li>4단계 > 크리에이터 정보</li>
                            <ul>
                                <li>자격증 추가</li>
                                <li>학력 인증</li>
                                <li>SNS</li>
                            </ul>
                            <li>5단계 > 일정 추가</li>
                        </ul>

					</div>
				</div>
				<div class="col-sm-9">
					<div class="blog-post-area">
                        <div class="tab-content">
                        <div class="tab-pane active" id="one">
                            <div class="upperbar">

                                <div class="step-num">1단계</div>
                                <div class="step-title">클래스 기본정보</div>
                            </div>

                            <div class="createcont">
                                <form id="post_form" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.media }}
                                           {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}
                                    <p>
                                        <div class="form_title class_form">클래스 제목  </div>
                                        <div class="class_form">{{ form.title }}</div>
                                    </p>
                                    <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">강사 이름  </div>
                                    <div class="class_form">{{ form.tutor }}</div>
                                    </p>
                                    <hr class="hr_width">
                                    <p>
                                       <div class="form_title class_form">강사 사진  </div>
                                    <div class="class_form">{{ form.tutor_photo }}</div>
                                    </p>
                                    <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">카테고리  </div>
                                    <div class="class_form">{{ form.category }}</div>
                                    </p>
                                    <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">지역  </div>
                                    <div class="class_form">{{ form.area }}</div>
                                    </p>
                                    <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">1회당 가격  </div>
                                    <div class="class_form"><input class="input" type="text" name="price" required id="id_price"></div>
                                        <b>원</b>
                                    </p>
                                    <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">1회당 시간 </div>
                                    <div class="class_form">{{ form.time }}</div>
                                        <b>시간</b>
                                    </p>
                                   <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">레벨  </div>
                                    <div class="class_form">{{ form.level }}</div>
                                    </p>
                                    <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">수업방식  </div>
                                    <div class="class_form">{{ form.mode }}</div>
                                    </p>
                                    <hr class="hr_width">
                                    <p>
                                        <div class="form_title class_form">인원  </div>
                                    <div class="class_form">{{form.in_min}}<b> ~ </b>
                                        {{form.in_max}}<b> 명 </b></div>
                                    </p>

                                    <hr class="hr_width">
                                    <p>

                                        <div class="form_title class_form">커버 이미지  </div>
                                    <div class="class_form">{{ form.photo }}</div>
                                    </p>
                                    <hr class="hr_width">
                            </div>
                            <button class="btn btn-primary bottombutton" href="#two" data-toggle="tab">다음 단계</button>
                        </div>

                        <div class="tab-pane" id="two">
                                                       <div class="upperbar">

                                <div class="step-num">2단계</div>
                                <div class="step-title">클래스 소개</div>
                            </div>

                        <div class="state"> 이 페이지에 여러분의 클래스에 대해 소개해주세요. 설명과 함께 다양한 사진 또는 영상을 첨부하는 것이 좋습니다.</div>
					    {{ form.body }}
                             <div><button class="btn btn-primary bottombutton" href="#three" data-toggle="tab">다음 단계</button></div>
                        </div>


                        <div class="tab-pane" id="three">
                                                        <div class="upperbar">

                                <div class="step-num">3단계</div>
                                <div class="step-title">크리에이터 소개</div>
                            </div>

                            <p>
                                        <div class="form_title class_form">블로그 주소  </div>
                                        <div class="class_form">{{ form.tutor_blog }}</div>
                                    </p>
                                    <hr class="hr_width">
                            <p>
                                        <div class="form_title class_form">인스타 계정  </div>
                                        <div class="class_form">{{ form.tutor_insta }}</div>
                                    </p>
                                    <hr class="hr_width">
                            <p>
                                        <div class="form_title class_form">유투브 채널  </div>
                                        <div class="class_form">{{ form.tutor_youtube }}</div>
                                    </p>
                                    <hr class="hr_width">
                        <div class="tutor state"> 이 페이지에 여러분에 대해 소개해주세요. 설명과 함께 다양한 사진 또는 영상을 첨부하는 것이 좋습니다.</div>
                       {{form.tutor_body}}
                       <br>
                            <button type="submit" class="btn btn-primary bottombutton" >다음 단계</button>
                        </div> 
                        </div>
                        
                        </form>



                    </div>
				</div>
			</div>
            </div>
		</div>
    </section>
{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n클래스를 개설하려면 로그인을 해주세요.')
    window.location.href = '/login';
  </script>
{% endif %}
{% endblock content%}