
{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/createpost.css' %}">
<html>
    <body>
    <div class="contents">
        <div class="top">
         <h1>글쓰기</h1>
        </div>
        <div class="boardcont">
             <h>게시판</h>
        <select name="catechoice" size="1">
            <option selected disabled>카테고리선택</option>
            <option value="level1">미술/공예</option>
            <option value="level2">음악/댄스</option>
            <option value="level3">요리/베이킹</option>
        </select>
        <select name="subchoice" size="1">
            <option selected disabled>말머리선택</option>
            <option value="11">자유글</option>
            <option value="22">질문글</option>
            <option value="33">같이해요</option>
        </select>

        <h>제목</h>
        <input type="text" name="name" size="70" maxlength="70">
        <h>
            <textarea cols="100" rows="15"></textarea>
        </h>
        </div>
        <div class="applybut">
             <div class="button">
            확인
             </div>
        </div>
        </div>


        </div>
     </body>
</html>
{% endblock content%}