{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
<div class="text-center"><h4 style="margin-bottom:6rem;">글쓰기</h4></div>
    <div class="container">
        <br><br>
        <form method="POST" enctype="multipart/form-data">
            <div class="blog-post-area bg-light">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            </div>
            <br><br>
            <div class="text-right">
            <input class="btn btn-secondary" type="submit" value="등록">
            </div>
        </form>
    </div>
{% endblock content%}