{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
<link href="{% static 'css/community.css' %}" rel="stylesheet">
<br>

<br>
<div class="container" id="create_post_container">
    <div class="upperbar">
        <div class="step-title">게시글 쓰기</div>
    </div>
    <br>
    <form enctype="multipart/form-data" method="POST">
        <div class="blog-post-area bg-light">
            {% csrf_token %}
            <div class="select_cb">
                <span class="select_cate">
                    게시판 &nbsp;{{ form.category }}
                </span>
                &nbsp;
                <span class="select_cate">
                    말머리 &nbsp;{{ form.bullet }}
                </span>
            </div>

            <div class="text-center post_body">
                {{ form.media }}
                <div class="title_form">{{ form.title }}</div>
                <br><br>
                <div class="text_form">{{ form.text }}</div>
            </div>
        </div>
        <br><br>
        <div class="text-center">
            <input class="save btn btn-primary" type="submit" value="등록">
        </div>
    </form>
</div>
{% endblock content%}