{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% if user.is_active %}
<div class="text-center">
    <h2>로그인 중입니다. 로그아웃 하세요</h2>
    <a href="/logout">Logout</a>
</div>
{% else %}
<div class="text-center">
    <div class="error_message">
        {{error}}
    </div>
    <h4>로그인</h4>

    <form method="POST" action="{% url 'login'%}">
    {% csrf_token %}
        <br>
        <input name="username" type="text" class="input-field" placeholder="아이디" required>
        <br>
        <br>
        <input name="password" type="password" class="input-field" placeholder="비밀번호" required>
        <br><br>
        <input type="submit" button class="submit" value="로그인" style="display:inline-block; margin:0;">
        <br>&nbsp;
        <p class="text-center">
        <a href="/signup" button class="submit nounderline" style="display:inline-block; margin:0;">회원가입</a>
        </p>
    </form>
</div>
{% endif %}
{% endblock content%}
