{% extends 'firstApp/base.html' %}
{% load static %}

{% block content %}
{% if user.is_active %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <ul>
              <li>
								<a class= "nounderline" href="{% url 'mypage' %}"><h3>MY PAGE</h3></a>
							</li><br>
							<li data-toggle="tab">
								<a class="nav-link"><strong>{{user.username}}님</strong></a>
									<br>
									<li class="nav-item">
										<a class="nav-link" href="/mypage/mylike">관심 클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/myApply">수강 클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/myClass">개설 클래스</a>
									</li>

							</li>
						</ul>
          </div>   
        </div>
         
          <div class="col-sm-9">
            <h4 style="font-weight:bold; color:#B6B3E5;">관심 클래스</h4><br><br>
            <table class="table">
              <tr>
                <th>클래스</th>
                <th>튜터</th>
                <th>가격</th>
              </tr>
              {% for class in classs %}
              <tr>
                <td>
                  <a class="a_underline" href="{% url 'product' class.id %}">{{ class.title }}</a>
                </td>
                <td class="lighter">{{ class.tutor }}</td>
                <td class="lighter">{{ class.price }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
      </div>
    </div>
{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n로그인을 해주세요.')
    window.location.href = '/login';
  </script>
{% endif %}
{% endblock content %}