{% extends 'firstApp/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% if user.is_active %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
<link href="{% static 'css/my_page_table.css' %}" rel="stylesheet">
<link href="{% static 'css/apply_detail.css' %}" rel="stylesheet">
<script src="https://kit.fontawesome.com/81816a43c2.js" crossorigin="anonymous"></script>


<div class="sidenav" style="z-index: 3;" id="mySidenav">
    <a class="closebtn" href="javascript:void(0)" onclick="closeNav()">&times;</a>
    <a class= "nounderline" href="{% url 'mypage' %}"><h3>MY PAGE</h3></a>
    <a class="nav-link"><strong>{{user.username}}님</strong></a>
    <hr>
    <a class="font-weight-bold" href="/mypage/mylike">관심 클래스</a>
    <a class="font-weight-bold" href="/mypage/myApply">수강 클래스</a>
    <a class="font-weight-bold" href="/mypage/myClass">개설 클래스</a>
</div>
    <span class="btn_sidebar my-nav-button" onclick="openNav()"><i class="fas fa-caret-right"></i></span>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <ul>
              <li>
								<a class= "nounderline" href="{% url 'mypage' %}"><h3>MY PAGE</h3></a>
							</li><br>
							<li data-toggle="tab">
								<a class="nav-link"><strong>{{user.username}}님</strong></a>
									<br>
									<li class="nav-item">
										<a class="nav-link" href="/mypage/mylike">관심 클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/myApply">수강 클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/myClass">개설 클래스</a>
									</li>

							</li>
						</ul>
          </div>   
        </div>
         
          <div class="col-sm-9">
            <h4 class="my_page_title" style="font-weight:bold; color:#B6B3E5;">관심 클래스</h4><br><br>
            <table class="table">
              <tr>
                <th>클래스</th>
                <th>튜터</th>
                <th>가격</th>
              </tr>
              {% for class in classs %}
              <tr>
                <td>
                  <a class="a_underline" href="{% url 'product' class.id %}">{{ class.title }}</a>
                </td>
                <td class="lighter">{{ class.tutor }}</td>
                <td class="lighter">{{ class.sale_price|intcomma }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
      </div>
    </div>
<script>
    function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n로그인을 해주세요.')
    window.location.href = '/login';
  </script>
{% endif %}
{% endblock content %}