{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
{% if user.is_active %}
<link rel="stylesheet" href="{% static 'css/paginate.css' %}">
<link rel="stylesheet" href="{% static 'css/community.css' %}">
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
		<div class="container">			
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<ul>
							<li data-toggle="tab">
								<a href="{% url 'mypage' %}" class="nounderline"><h3>My page</h3></a>
								<br>
								<a class="nav-link"><strong>{{user.username}}님</strong></a>
									<br>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/mylike">좋아하는 클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/myApply">수강클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="/mypage/myClass">개설클래스</a>
									</li>
									<li class="nav-item">
									  <a class="nav-link" href="">내 정보 관리</a>
									</li>
							</li>
						</ul>
					</div>
				</div>

				<div class="my_block">
					<div class="my_block_title">수강 클래스</div>
					<div><a href="/mypage/myApply">내가 신청한 클래스</a></div>
					<div><a> </a></div>
					<div><a> </a></div>
				</div>
				<div class="my_block">
					<div class="my_block_title">개설 클래스</div>
					<div><a href="/mypage/myClass">내가 개설한 클래스</a></div>
					<div><a> </a></div>
					<div><a> </a></div>
				</div>
				<div class="my_block">
					<div class="my_block_title">관심 클래스</div>
					<div><a href="/mypage/mylike">내가 좋아요 누른 클래스</a></div>
					<div><a> </a></div>
					<div><a> </a></div>
				</div>
				<div class="my_block">
					<div class="my_block_title">내 정보 관리</div>
					<div><a>개인 정보 수정</a></div>
					<div><a href="/change_pw">비밀번호 변경</a></div>
					<div><a href="/logout" >로그아웃</a></div>
					<div><a href="/delete" >회원탈퇴</a></div>
				</div>
			</div>
		</div>
			


{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n로그인을 해주세요.')
    window.location.href = '/login';
  </script>
{% endif %}
{% endblock content%}