{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
{% if user.is_active %}
<link rel="stylesheet" href="{% static 'css/paginate.css' %}">
<link rel="stylesheet" href="{% static 'css/community.css' %}">
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
		<div class="container">
			<div class="mytop">
				<div class="myname">{{user.username}}님, 안녕하세요!</div><div class="mypagetitle">MY PAGE</div>
			</div>

				<div class="my_block">
					<div class="my_block_title">수강 클래스</div>
					<div class="my_block_list"><a href="/mypage/myApply">수강 신청 내역</a></div>
					<div class="my_block_list"><a href="/mypage/mylike">관심 클래스</a></div>
					<div class="my_block_list"><a> </a></div>
				</div>
				<div class="my_block">
					<div class="my_block_title">개설 클래스</div>
					<div class="my_block_list"><a href="/mypage/myClass">내가 개설한 클래스</a></div>
					<div class="my_block_list"><a> </a></div>
					<div class="my_block_list"><a> </a></div>
				</div>
				<div class="my_block">
					<div class="my_block_title">내 정보 관리</div>
					<div class="my_block_list"><a>개인 정보 수정</a></div>
					<div class="my_block_list"><a href="/change_pw">비밀번호 변경</a></div>
					<div class="my_block_list"><a href="/logout" >로그아웃</a></div>
					<div class="my_block_list"><a href="/intro_delete" >회원탈퇴</a></div>
				</div>
			</div>
		</div>
			
<div class="term-block" style="width:1000px; height:200px;"> </div>

{% else %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n로그인을 해주세요.')
    window.location.href = '/login';
  </script>
{% endif %}
{% endblock content%}