{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/community.css' %}">

<div class="container">

    <div class="blog-post-area">
        <div class="post_info">
            <div class="post_category">
                <i class="fas fa-clipboard"></i>
                <a class="a_underline" href="/community?cateId={{post.category.pk}}"><span>{{post.category}}</span></a>
                &nbsp;&nbsp;
                <span style="color:#B3B2C3; font-weight:bold;">{{post.bullet}}</span>

                <table style="float:right">
                <tr>
                    {% if post.author == request.user %}
                    <td>
                    <a class="a_underline" href="{% url 'update_post' post.pk %}?cateId={{cateId}}&page={{page}}">
                        수정
                    </a>
                    </td>
                    <td class="post_v">|</td>
                    <td>
                    <a class="a_underline" href="{% url 'delete_post' post.pk %}" onclick="return confirm('정말 삭제하시겠습니까?')">
                        삭제
                    </a>
                    </td>
                    <td class="post_v">|</td>
                    {% endif %}
                    <td>
                    <a class="a_underline" href="/community?cateId={{cateId}}&page={{page}}">목록</a>
                    </td>
                </tr>
                </table>
            </div>

            <h3 class="post_title">{{post.title}}</h3>
            <p class="post_author"><i class="fas fa-user-circle" style="color:gray"></i> {{post.author}}</p>
            <span class="post_t">{{post.created_date|date:"y.m.d H:i"}}</span>
            <span class="post_v">조회 {{post.views}}</span>

        </div>
        <hr>
        <div class="post_contents">
            {{post.text | safe}}
        </div>
        <div class="text-center">
            <a href="{% url 'post_recommend' post.pk %}">
            <button class="btn btn-light"><i class="fas fa-thumbs-up" style="color:pink;"></i>
                추천 : {{post.recommendations}}</button></a>
            <button class="btn btn-light"><i class="fas fa-thumbs-down" style="color:gray;"></i>
                비추천 : {{post.no_recommendations}}</button>
        </div>
        <div class="post_content_f">
        댓글 {{ post.comments.count }}

        </div>
    </div>

    <div class="blog-comment-area bg-light">
        <div class="comment_contents">
            <div class="new_comment">
            <form method="POST" class="post-form" style="margin:0; height:100px;">
                {% csrf_token %}
                {{ form.text }}
                <button type="submit" class="btn btn-primary comment_submit">등록</button>
            </form>
            </div>
            {% for comment in post.comments.all %}
                <div class="comment">
                    <div class="comment_h">
                    <strong><i class="fas fa-user-circle" style="color:gray"></i> {{ comment.author }}</strong>
                    <span class="date lighter">
                        {{comment.created_date|date:"y.m.d H:i"}}</span>
                        {% if comment.author == request.user %}
                            <span class="comment_edit">
                                <a href="{% url 'comment_remove' pk=comment.pk %}" onclick="return confirm('정말 삭제하시겠습니까?')">
                                    <i class="fas fa-trash-alt"></i></a>
                                &nbsp;
                                <a href="{% url 'comment_update' pk=comment.pk %}?cateId={{cateId}}&page={{page}}">
                                    <i class="fas fa-edit"></i>
                                </a>

                            </span>
                        {% endif %}
                         &nbsp;
                        <a href="{% url 'create_ccomment' pk=comment.pk %}?cateId={{cateId}}&page={{page}}">
                            <i class="fas fa-reply"></i>
                        </a>
                    </div>

                    <p>{{ comment.text|linebreaks }}</p>
                </div>

                {% for ccomment in post.ccomments.all%}
                    {% if ccomment.parent_comment == comment %}
                    <div class="ccomment">
                        <div class="comment_h">
                            <strong><i class="fas fa-user-circle" style="color:gray"></i> {{ ccomment.author }}</strong>
                            <span class="date lighter">
                                {{ccomment.created_date|date:"y.m.d H:i"}}</span>
                                {% if ccomment.author == request.user %}
                                    <span class="comment_edit">
                                        <a href="{% url 'remove_ccomment' pk=ccomment.pk %}" onclick="return confirm('정말 삭제하시겠습니까?')">
                                            <i class="fas fa-trash-alt"></i></a>
                                        &nbsp;
                                        <a href="{% url 'update_ccomment' pk=ccomment.pk %}"><i class="fas fa-edit"></i></a>

                                    </span>
                                 {% endif %}

                        </div>

                        <p>{{ ccomment.text|linebreaks }}</p>

                    </div>

                    {% endif %}
                {% endfor %}

            <hr>
            {% empty %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content%}