{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% if user.is_active %}
<div class="text-center">
<h2>로그인 중입니다. 로그아웃 하세요</h2>
<a href="/logout">Logout</a>
</div>

{% else %}
{% if error %}
<h3 style="color:red">{{error}}</h3>

{% endif %}

<form action="" method="POST">
{% csrf_token %}
<h4>회원가입</h4>
<br>
<table>
{{ f.as_table }}
</table>

<br>
<input type="submit" button class="submit" value="회원가입" style="display:inline-block; margin:0;">
</form>

{% endif %}
{% endblock content%}