{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% if alert_flag1 %}
<script>alert("비밀번호와 비밀번호 확인이 다릅니다.")</script>
{% endif %}
{% if alert_flag2 %}
<script>alert("사용중인 아이디입니다. 또는 이메일 양식을 확인해주세요.")</script>
{% endif %}

{% if user.is_active %}
<script type="text/javascript">
    alert('잘못된 접근입니다. \n회원가입을 하시려면 로그아웃 하세요.')
    window.location.href = '/main';
  </script>

{% else %}


<div class="text-center">
  <h4><strong>회원가입</strong></h4>

  <form method="POST" action="">
  {% csrf_token %}
      <br>
      <span style="color:red; font-weight:bold;">*</span>
      <input name="username" type="text" class="input-field" placeholder="아이디 (필수)" required><br>
      <span style="color:red; font-weight:bold;">*</span>
      <input name="password" type="password" class="input-field" placeholder="비밀번호 (필수)" required><br>
      <span style="color:red; font-weight:bold;">*</span>
      <input name="password_확인" type="password" class="input-field" placeholder="비밀번호 확인 (필수)" required><br>
      <span style="color:red; font-weight:bold;">*</span>
      <input name="first_name" type="text" class="input-field" placeholder="이름"><br>
      <span style="color:red; font-weight:bold;">*</span>
      <input name="email" type="text" class="input-field" placeholder="이메일 (ex. another@gmail.com)"><br>
      <input name="location" type="text" class="input-field" placeholder="주소 (ex. 서울시 마포구 신촌로6길 18)"><br>
      <input name="number" type="text" class="input-field" placeholder="전화번호 (ex. 010-1234-5678"><br>
      <input name="birth_date" type="text" class="input-field" placeholder="생년월일 (ex. 1990-01-01)"><br>
      <div style="padding:20px; font-weight:bold; ">관심 카테고리 (중복 선택)</div>
      {{profile_form.model_categories}}

      <br><br>
      <input type="submit" button class="submit" value="회원가입" style="display:inline-block; margin:0;">
      <br>
  </form>
</div>

{% endif %}
{% endblock content%}