
{% extends 'firstApp/base.html'%}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/createpost.css' %}">
    <div class="text-center">
         <h3 style="margin-bottom:6rem;">글 수정</h3>
    </div>
    <div class="container bg-light">
        <div class="boardcont">
            <form method="POST" class="post-form">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <h>
                <input class="btn btn-secondary" type="submit" value="등록">
                </h>
            </form>
        </div>
        <div class="applybut">

        </div>
        </div>


        </div>
{% endblock content%}