.gotoClass, .gotoClass:hover{
color:#4ECAC6;
margin:0;
font-weight:bold;
}
.cancelApply{
margin:0;
font-weight:bold;
}
@media (max-width: 600px) {
    .left-sidebar{
        display:none;
    }
    .my_page_title{
        text-align:center;
    }
}