.mastfoot {
    color: #333;
}
.inner{
    font-size:10pt;
}
.productpic:hover{
color:#333333;
text-decoration:none;
}
/*buttons*/

 h5{
     text-align: center;
     margin: 3rem;
     padding:1rem;
 }
 .nounderline{
    text-decoration: none !important;
}
.nounderline:hover{
    color:black;
}
.a_underline{
    color:black;
}
.a_underline:hover{
    color:black;
}