h {
float:left;
clear:left;
padding-bottom:40px;
}
.boardcont select{
margin-left:50px;
}
.boardcont{
padding-left:150px;
}
.boardcont select{
margin-top:25px;
}
.boardcont input{
float:left;
margin-left:67px;
}

.applybut{
padding-left:400px;
clear:left;
padding-bottom:150px;
}

