.catelist{
    display: inline-block;
    text-align: center;
    list-style:none;
    height: 12rem;
    margin:0;
    padding:0;
    position:relative;
    bottom:45px;
}
.cateitem{
    text-align: center;
    margin:1rem;
    margin-top:2rem;
    float:left;
}
.catebar{
    text-align: center;
    height: 15rem;
    margin-bottom:2rem;
    margin: 0rem 2rem;
    padding:0rem 2rem;
    text-align: center;
}
.cateicon{
    padding:0.3rem;
}
.icon{
    width:50px;
}

.for_slick_slider{
display:flex;
position:relative;
bottom:30px;
}

.for_slick_slider .items{
width:600px;
height:450px;
z-index:1;
}

.for_slick_slider .items img{
width:600px;
height:450px;
}
