.catelist{
    display: inline-block;
    text-align: center;
    list-style:none;
    margin:0;
    padding:0;
}
.slide_title{
    height: 30px;
    font-size: min(4vw, 20px);
    display: block;
    color: #333;
    margin-top: 20px;
}
.autoplay .slick-track{
        position: relative;
        top: 0;
        left: 0;
        margin-top:50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.cateitem{
    max-width: 14vw;
    text-align: center;
    margin: 0rem 2rem 1rem 0rem;
    float:left;
}
.icon-title{
    font-size: min(3vw, 15px);
}
.catebar{
    text-align: center;
}

.cateicon{
    padding:0.3rem;
}
.icon{
    max-width: 8vw;
    width:50px;
}

.for_slick_slider{
max-width:1500px;
position:relative;
}

.for_slick_slider .items{
width:600px;
height:450px;
z-index:1;
}

.for_slick_slider .items img{
width:600px;
height:450px;
}

.for_slick_slider .itemss{
z-index:1;
}

.autoplay :hover{
text-decoration:none;
}
.class_title :hover{
color: #333333;
}

.for_slick_slider .itemss img{
}

.tutor_name{
font-size:18px;
color: #4ECAC6;
    font-weight:bold;
    padding-top:20px;
    width:200px;
  text-align:center;
}

.on_sale{
    position: absolute;
    width: 52px;
    font-weight: bolder;
    height: 30px;
    background-color: #FC2D67;
    color: white;
    border-radius: 10px;
    left: 10px;
    top: 10px;
    text-align: center;
    padding-top: 2px;
}

.true_price{
                        text-decoration: line-through;
                        color: #848484;
                        font-size: 16px;
                        float: right;
                        font-weight: bolder;
                        position: relative;
                        bottom:18px;
}
.original_price{
        text-decoration: line-through;
        color: #848484;
        font-size: 16px;
        float: right;
        font-weight: bolder;
        position: relative;
        bottom: 25px;
        margin-right: 3px;
}
.class_title{
    height:72px;
}

.thumb{
    height:261px;
}

@media (max-width: 600px) {
    .class_row{
        width:160px!important;
    }
    .card{
        width:150px;
        height:210px;
    }
    .card-body{
        padding:8px;
        height:180px;
    }
    .class_title{
        font-size:10px;
        height:40px;
        padding:2px;
    }
    .class_price{
        font-size:12px!important;
    }
    .original_price{
        font-size: 10px;
        margin: 0;
        position: relative;
        right: 13px;
        bottom: 21px;

    }
    .tutor_name{
        font-size:8px;
        color: #4ECAC6;
        padding:0;
    }
    .on_sale {
    position: absolute;
    width: 30px;
    font-weight: bolder;
    font-size: 10px;
    height: 20px;
    background-color: #FC2D67;
    color: white;
    border-radius: 5px;
    left: 5px;
    top: 5px;
    text-align: center;
    padding-top: 3px;
    }
    .col-md-4{
    padding:0px;
    }
}
.autoplay {
    max-width: 100vw;
    width: 100%;
    overflow: hidden;
}