.catelist{
    display: inline-block;
    text-align: center;
    list-style:none;
    height: 12rem;
    margin:0;
    padding:0;
    position:relative;
    bottom:50px;
}
.slide_title{
    height: 80px;
    font-size: 20px;
    display: block;
    color: #333;
    margin-top:40px;
}
.cateitem{
    text-align: center;
    margin:1rem;
    margin-top:2rem;
    float:left;
}
.catebar{
    text-align: center;
    height: 10rem;
    margin-bottom:2rem;
    margin: 0rem 2rem;
    padding:0rem 2rem;
    text-align: center;
}
.cateicon{
    padding:0.3rem;
}
.icon{
    width:50px;
}

.for_slick_slider{
display:flex;
position:relative;
bottom:30px;
}

.for_slick_slider .items{
width:600px;
height:450px;
z-index:1;
}

.for_slick_slider .items img{
width:600px;
height:450px;
}

.for_slick_slider .itemss{
width:1500px;
height:450px;
z-index:1;
}

.autoplay :hover{
text-decoration:none;
}
.class_title :hover{
color: #333333;
}

.for_slick_slider .itemss img{
width:1500px;
height:450px;
}

.tutor_name{
font-size:18px;
color: #4ECAC6;
    font-weight:bold;
    padding-top:20px;
    width:200px;
  text-align:center;
}

.on_sale{
    position: absolute;
    width: 82px;
    font-weight: bolder;
    height: 35px;
    background-color: #FC2D67;
    color: white;
    border-radius: 10px;
    left: 10px;
    top: 10px;
    text-align: center;
    padding-top: 5px;
}