.createclasscont .blog-post-area li{
  float:left;
  list-style:none;
}
.createclasscont{
padding-bottom:50px;

}
.right-button{
position:relative;
width:100px;
left:350px;
margin-top:50px;
}
.form_description{
 text-align:center;
  width:700px;
  font-size:13px;
  font-weight:bold;
  padding-bottom:50px;
}

.step-num{
color:#4ECAC6;
font-size:30px;
float:left;
font-weight:bold;
padding-left:20px;
}

.step-title{
color:#888;
font-size:30px;
padding-right:20px;
float:right;
padding-right:20px;
}
.upperbar{
margin-right:400px;
padding-bottom:60px;
border-bottom: 2px solid #4ECAC6;
width:820px;
height:50px;

margin-bottom:40px;
}
.empty_block{
height:100px;
}
.hr_width2{
width:800px;
position: relative;
left:-20%;
}
.date-button{
margin-left:50px
}
.form_title{
font-size:18px;
font-weight:bold;
width:180px;
}

.hr_width{
width:800px;
position: relative;
left:-18%;
}

.class_form {
display:inline-block;
}

.createclasscont .left-sidebar{
color:#888;
}

.steptabs{
  list-style:none;
}
.createclasscont .blog-post-area .state{
  float:left;
  margin-left:50px;
  margin-bottom:20px;
  text-align:center;
  width:700px;
  font-size:13px;
  font-weight:bold;
}
.tutor{
padding-top:50px;
}
.bottombutton{
clear:left;
width:240px;height:40px;
text-align:center;
position: relative;
left:24%;
margin-top:50px;
padding-top:9px;
border-radius : 3px;
background-color:#B6B3E5;
color:#fff;
}

.createcont p{
padding-bottom:20px;
}

.createclasscont .left-sidebar div{
padding-top:20px;
}

.steptabs ul{
padding-top:5px;
padding-bottom:40px;
}



.blog-post-area textarea{
margin-bottom:70px;
resize:none;
}

.blog-post-area h2{
width:290px;
font-size:23px;
}



.choose{
float:left;
clear:left;
height:50px;
margin-left:50px;}

.steptabs li.active a, .steptabs li.active a:hover, .steptabs li.active a:focus {
    border: 0px;
    color: #B6B3E5;
    cursor: default;
    block:none;
    font-weight:bold;
}
.steptabs a:hover{
color:#333333;
text-decoration:none;
}

