* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#id_model_categories{
    list-style: none;
}
.input-field {
    width: 23%;
    height:7%;
    padding: 2px 0;
    margin: 2px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit {
    width: 23%;
    height:7%;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, #B6B3E5, #4ECAC6);
    border: 0;
    outline: none;
}
.alert{
    color:red;
    margin-top:16px;
}

@media (max-width: 600px){
    h4{
        margin-top:30%;
    }
    .input-field {
        width: 85%;
        height:12%;
    }
    .submit {
        width: 70%;
        height:10%;
    }
}