.my_block{
width:330px;
height:200px;
border:3px solid #B6B3E5;
border-radius : 10px;
float:left;
box-sizing:border-box;
padding:20px;
margin:18px;
}

.my_block_title{
color:#B6B3E5;
font-weight:bold;
text-align:center;
font-size:20px;
padding-bottom:20px;
}
.mytop{
text-align:center;
}
.my_block_list{
padding-bottom:4px;
}
.myname{
font-size:20px;
}
.mypagetitle{
font-size:28px;
color:#4ECAC6;
font-weight:bold;
padding-bottom:30px;
}

.my_block_list :hover{
text-decoration:none;
color:#333;
}