.post_info{
    padding:1.2rem;
    margin:1.2rem;
}
.post_category{
    margin:0;
    padding-top:1rem;
    color:#4ecac6;
    font-size:9pt;
}
.post_title{
    margin:0;
    padding:1.5rem;
    padding-left:0;
}
.post_author{
    margin:0;
    padding:0.8rem
    padding-left:0;
}
.post_t{
    color:gray;
    font-weight:lighter;
    font-size:0.9rem;
}
.post_v{
    color:gray;
    font-weight:lighter;
    font-size:0.9rem;
    margin-left:1.5rem;
}
.post_contents{
    padding-top:3rem;
    padding-bottom:5rem;
    margin:2rem;
}
.post_content_f{
    height:40px;
}

.comment_contents{
    padding: 20px;
}
.new_comment{
    margin-bottom:50px;
}
.comment{
    margin: 20px;
}
.comment_h{
    height:30px;
}
.comment_submit{
    float:right;
    height:95px;
    width:90px;
}
.comment_edit{
    float:right;
}