.for_slick_slider{
display:flex;
}

.for_slick_slider .items{
width:600px;
height:450px;
z-index:1;
}

.for_slick_slider .items img{
width:600px;
height:450px;
}

.for_slick_slider .itemss{
width:1500px;
height:450px;
z-index:1;
}

.for_slick_slider .itemss img{
width:1500px;
height:450px;
}

.product-review-title{
color:#4ECAC6;
font-size:20px;
}
.product-review-date{
float:right;
}
.like_block{
position:absolute;
width:92px;
height:40px;
background-color:#fff;
border-radius:10px;
bottom:40px;
left:500px;
text-align:center;
padding-top:7px;
}
.product-review-hr hr{
margin:50px 0px;
}
.product-review-img{
width:32px;
height:20px;
margin:0px 15px;
}
.product-q-img{
width:32px;
height:32px;
margin:0px 10px;
}
.review-button{
position:relative;
left:92%;
width:90px;
height:40px
}
#reviews form{
padding-bottom:50px;
}

.answer-button{
float:right;
width:70px;
height:35px;
}

.product-question{
position:relative;
left:40px;
top:-30px;
width:850px;
color:#4ECAC6;
font-weight:bold;
padding-left:10px;
}
.product-answer{
padding-top:10px;
}
.contents{
width:1100px;
position:relative;
left: 13%;
}

.product{

}

.product-pic{
float:left;
position:relative;
}

.product-pic img{

}

.product-info{
 float:left;
 width:500px;
 padding-top: 10px;
 padding-left:30px;

}

.center{
text-align:center;
}

.product-info h2{
font-weight:bold;
font-size:20px;
padding-top:10px;
text-align:center;
position:relative;
left:-3%;
height:60px;
}

.perprice{
color: rgb(58, 192, 189);
font-size: 25px;
font-weight:bold;
padding-top:5px;
padding-right:10px;
}
.datechoice{
padding-left:30px;
}
.pertime{
color: #9B9EEA;
font-size: 25px;
font-weight:bold;
padding-top:5px;
padding-right:10px;
}

.hour{
padding-top:15px;
position:relative;
}

.onetime{
font-size:15px;
color: #4ECAC6;
position: relative;
text-align:center;
left:-19%;
font-weight:bold;
}

.product-info img{
padding-top: 15px;
}

.product-info ul{
font-size:15px;
list-style:none;
}

.tutor_photo{

width:200px;
border-radius : 100px;
}
.tutor_body{
padding-top:50px;
}
.certification{
}

.class_date{
line-height:3em;
padding-top:20px;
padding-bottom:20px;
background-color:rgb(242, 242, 251);
border-radius : 15px;
width:1000px;
padding-left:10px;
margin-bottom:30px;
position: relative;
left:40px;
}

.class_date > h1{
text-align:center;
font-size:25px;
color: #4ECAC6;
font-weight:bold;
}

.class_date > div {
padding-left:20px;
}
.class_date > hr{
width:900px;
}
.tutor_detail{
line-height:3em;
margin-left:150px;
padding-top:20px;
padding-bottom:20px;
background-color:rgb(242, 242, 251);
border-radius : 15px;
position: relative;
top:-200px;
left:100px;
width:800px;
padding-left:10px;
min-height:200px;
}

.tutor_body{
position: relative;
top:-200px;
}

.button{
font-weight:bold;
font-size:19px;
float:left;
background-color:rgb(58, 192, 189);
color:#fff;
width:240px;height:60px;
padding-top:7px;
  margin-right:20px;
  margin-bottom:15px;
  text-align:center;
  position: relative;
left:23%;
margin-top:25px;
}



.twobutton{
font-weight:bold;
font-size:19px;
float:left;
background-color:rgb(58, 192, 189);
color:#fff;
width:150px;height:60px;
padding-top:16px;
  margin-right:20px;
  margin-bottom:15px;
  text-align:center;
  position: relative;
left:17%;
margin-top:25px;
}

.more-info{
background-color:rgb(200, 200, 200);
width:1100px;
clear:left;
float:left;
margin-top:15px;
overflow:auto;
}

.category-tab ul {
    bottom: 1px;
    background: #fff;
    border-bottom: 1px solid #4ECAC6;
    list-style: none outside none;
    position: relative;
    left:-1.4%;
    width: 100%;
}

.nav:before, .nav:after {
    display: table;
    content: " ";
}

.nav:after {
    clear: both;
}
.nav:before, .nav:after {
    display: table;
    content: " ";
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    border: 0px;
    color: #FFFFFF;
    cursor: default;
    margin-right: 0;
    margin-left: 0;
}
.nav>li>a {
    position: relative;
}
.category-tab ul li a {
    border: 0 none;
    border-radius: 0;
    color: #B6B3E5;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.nav-tabs ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav-tabs a:hover{
    background-color: rgb(170,230,228);
}
.nav-tabs a:active{
    background-color: #B6B3E5;
}

.button:hover{
color:#fff;
text-decoration:none;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    background-color: #74C7CC;
    border: 0px;
    color: #FFFFFF;
    cursor: default;
    margin-right: 0;
    margin-left: 0;
    margin-top: 50px;
    block:none;
}

.category-tab ul li a {
    border: 0 none;
    border-radius: 0;
    color: rgb(99,99,99);
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-tabs li a {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
    line-height: 1.42857;
    margin-right: 0;
    margin-top: 50px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 11px 102px;
 color: #428bca;
    text-decoration: none;
 background: transparent;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.more-container{
padding-top:100px;
}

.tab-content>.active {
    display: block;
}

.shop-details-tab .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 768px)
.col-sm-12 {
    width: 100%;
}
@media (min-width: 768px)
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-sm-12{
position: relative;
    min-height: 1px;}

 #reviews ul {
    background: #FFFFFF;
    border: 0 none;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}
.ul-tag {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.prolist{
    display: inline-block;
    text-align: center;
    list-style:none;
    padding:0;

}
.proitem{
    text-align: center;
    margin: 1rem;
    float: left;
    height: 120px;
    width: 120px;
    position: relative;
    top: 20px;
    border: 4px solid #9B9EEA;
    border-radius: 10px;
}

.proitem-item{
    font-weight: bold;
    padding-top: 15px;
    color:#848484;
}

.proicon{
width:55px;
}

.price_div{
height: 90px;
    text-align: right;
    padding-top: 7px;
}
.price_tag{
text-decoration: line-through;
    font-weight: bold;
    color: #848484;
}
.sale_tag{
font-size: 30px;
    text-align: right;
    font-weight: bold;
    padding-right: 40px;
    padding-left: 10px;
    color: #74C7CC;
}
.time_tag{
    padding-right: 50px;
    font-weight: bold;
}