.mastfoot {
    color: #333;
}
.inner{
    font-size:10pt;
}
/*buttons*/
.btn-primary {
    background-color: #fff;
    border-color: #fff;
    color: #FFF; }
.btn-primary:hover,
.btn-primary:focus {
    border-color: rgb(230, 240, 248);
    background-color: rgb(230, 240, 248);
    color: #FFF; 
}
.btn-primary:active,
.btn-primary:visited,
.btn-primary:active:focus,
.btn-primary:active:hover {
    border-color: #fff;
    background-color: #fff;
    color: #FFF;
 }

 .btn-secondary {
<<<<<<< HEAD
    background-color: rgb(77, 86, 214);
=======
    background-color: rgb(10, 111, 194);
>>>>>>> bc8347acc4136aa23878ec96bb9e9a80b504beaa
    border-color: #fff;
    color: #FFF; }
.btn-secondary:hover,
.btn-secondary:focus {
    border-color: rgb(77, 86, 214);
    background-color: rgb(77, 86, 214);
    color: #FFF; 
}
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:active:focus,
.btn-secondary:active:hover {
<<<<<<< HEAD
    border-color: rgb(77, 86, 214);
    background-color: rgb(77, 86, 214);
    color: #FFF;
 }
 h5{
     text-align: center;
     margin: 3rem;
     padding:1rem;
 }
 .nounderline{
    text-decoration: none !important;
}
.nounderline:hover{
    color:black;
}
 
=======
    border-color: rgb(10, 111, 194);
    background-color: rgb(10, 111, 194);
    color: #FFF;
 }
>>>>>>> bc8347acc4136aa23878ec96bb9e9a80b504beaa
