/*navbar custom*/
body{
    padding:1rem;
}
a{
    color:#333;
}
.topbar-custom{
    list-style-type: none;
    float:right;
    margin-right: 20px;
    font-size: small;
}
.navbar{
    border-bottom: 0.1px solid rgb(219, 222, 224);
    margin-bottom:3em;
}
.navbar-custom{
<<<<<<< HEAD
    font-size: x-large;
    font-weight: bold;
    background-color: #fff;
}
.nav-item-custom{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
=======
    background-color: #fff;
}
>>>>>>> bc8347acc4136aa23878ec96bb9e9a80b504beaa
/*main*/
.jumbotron{
    background-color:#fff;
}
.fixed-top{
    left:60rem;
}

 
